<section id="createMatchSuccessNotify">
    <div class="popup-container">
        <div class="img-area">
            <img src="/images/success-icon.svg" alt="">
        </div>
        <div class="txt-area">
            you have successfully created a match. You will receive a notification once someone has joined your match
        </div>
    </div>
</section>