<section id="disputePopup">
    <div class="popup-container popup-dispute">
        <form id="disputeForm">
            <h2 class="section-title">File a dispute</h2>
            <p class="txt">
                Please provide us more details <br> about your dispute
            </p>
            <div class="input-fields">
                <div class="input-field">
                    <div class="label-area">
                        <label>Game Results</label>
                    </div>
                    <div class="current"></div>
                    <div id="byConsole" class="list">
                        <div>Wrong Result 1</div>
                        <div>Wrong Result 2</div>
                        <div>Wrong Result 3</div>
                    </div>
                </div>
                <div class="input-field">
                    <div class="label-area">
                        <label>Explanation</label>
                    </div>
                    <div class="message">
                        <textarea name="disputeMessage" id="disputeMessage"
                            placeholder="Enter your explanation here..."></textarea>
                    </div>
                </div>
                <div class="input-field">
                    <div class="label-area">
                        <label>Supporting Documents</label>
                    </div>
                    <div class="attach-file">
                        <label for="disputeFile">+ attach a file</label>
                        <input name="disputeFile" id="disputeFile" type="file">
                    </div>
                </div>
            </div>
            <div class="button">
                <button id="btnDisputeSubmit" class="btn-yellow">submit</button>
            </div>
        </form>
    </div>
</section>