<footer>
    <div class="footer-logo">
        <img src="/images/footer-logo.svg" alt="Footer logo" />
    </div>
    <div class="footer-navigation-area">
        <div class="footer-navigation">
            <div class="list">
                <p class="name">games</p>
                <a href="javascript:;" class="item">League of Legends</a>
                <a href="javascript:;" class="item">Dota</a>
                <a href="javascript:;" class="item">fifa</a>
                <a href="javascript:;" class="item">fortnite</a>
            </div>
            <div class="list">
                <p class="name">Support</p>
                <a href="javascript:;" class="item">Help center</a>
                <a href="javascript:;" class="item" data-href="questions">frequently asked questions</a>
                <a href="javascript:;" class="item">Contact us</a>
            </div>
        </div>
        <div class="sponsors-area">
            <div class="sponsors">
                <p class="name">powered by</p>
                <div class="list">
                    <a href="javascript:;"><img src="/images/darkness-icon.svg" alt=""></a>
                    <a href="javascript:;"><img src="/images/steam-icon.svg" alt=""></a>
                    <a href="javascript:;"><img src="/images/fifa-icon.svg" alt=""></a>
                    <a href="javascript:;"><img src="/images/epic-games-icon.svg" alt=""></a>
                </div>
            </div>
            <div class="sponsors">
                <p class="name">social media</p>
                <div class="list">
                    <a href="javascript:;"><img src="/images/Facebook-Icon.svg" alt=""></a>
                    <a href="javascript:;"><img src="/images/linkedin-icon.svg" alt=""></a>
                </div>
            </div>
        </div>
        <div class="bottom-area">
            <div class="terms-and-privacy">
                <a href="javascript:;" class="btn-terms">Terms and Conditions</a>
                <a href="javascript:;" class="btn-privacy">privacy policy</a>
            </div>
            <div class="all-rights">
                2019, proschall - all rights reserved
            </div>
            <div class="created-txt">
                site lovingly created by Cre8iv Click
            </div>
        </div>
    </div>
</footer>