<!DOCTYPE html>
<html>

<head>
    <title>Proschall</title>
    <link href="/stylesheets/datepicker.min.css" rel="stylesheet" type="text/css">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/stylesheets/tournament.css' />
</head>

<body>
    <%- include("./logPopup.ejs") %>
    <header>
        <div class="menu-btn">
            <a href="javascript:;"></a>
        </div>
        <div class="buttons-area logout d-none">
            <div class="login-btn">
                <a href="javascript:;" data-tab="signin">already a member? login here</a>
            </div>
            <div class="reg-btn">
                <a href="javascript:;" data-tab="signup">
                    sign up now
                </a>
            </div>
        </div>
        <div class="buttons-area login">
            <div class="notification-area">
                <a href="javascript:;" class="notification-btn">
                    <svg width="18" height="21" viewBox="0 0 18 21" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" clip-rule="evenodd"
                            d="M15.8824 14.7V8.925C15.8824 5.67 13.6588 3.045 10.5882 2.31V1.575C10.5882 0.735 9.84706 0 9 0C8.15294 0 7.41176 0.735 7.41176 1.575V2.31C4.34118 3.045 2.11765 5.67 2.11765 8.925V14.7L0 16.8V17.85H18V16.8L15.8824 14.7ZM9 21C10.1647 21 11.1176 20.055 11.1176 18.9H6.88235C6.88235 20.055 7.83529 21 9 21ZM4.23529 15.75H13.7647V8.925C13.7647 6.3 11.6471 4.2 9 4.2C6.35294 4.2 4.23529 6.3 4.23529 8.925V15.75Z" />
                    </svg>
                </a>
                <span class="notification-count">1</span>
                <div class="triangle"></div>
                <div class="notifications">
                    <div class="n-list">
                        <div class="item">
                            <div class="txt-area">
                                <p>Get ready! your match with <span class="user">Gamer12345</span> with match ID...</p>
                                <span class="time">1 minute ago</span>
                            </div>
                            <div class="status-area">
                                <span class="status offline"></span>
                            </div>
                            <div class="notification">
                                <div class="header-txt">
                                    <span class="from-txt">From: Proschall</span>
                                    <span class="date">28 August 2019 4:00:01</span>
                                </div>
                                <div class="n-content">
                                    <p>Get ready! your match with <span class="user">Gamer12345</span> with match ID
                                        <span class="user">123456</span> will start in 30
                                        minutes. Please make sure to start the match before going into your game
                                        software.
                                    </p>
                                    <span class="time">1 minute ago</span>
                                </div>
                                <div class="buttons-area">
                                    <a href="javascript:;" class="notify-btn btn-yellow">notify opponent</a>
                                    <a href="javascript:;" class="cancel-btn">I want to cancel this match</a>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="txt-area">
                                <p><span class="user">Gamer12345</span> has accepted your challenge</p>
                                <span class="time">2 minute ago</span>
                            </div>
                            <div class="status-area">
                                <span class="status online"></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="user-info-area">
                <div class="button-area">
                    <a href="javascript:;" class="username-btn">Username</a>
                </div>
                <div class="triangle"></div>
                <div class="user-info">
                    <div class="item">
                        <a href="/profile" class="nav-item">
                            <div class="user">
                                <div class="img-area">
                                    <img src="/images/user-placeholder-men.svg" alt="User">
                                </div>
                                <div class="txt-area">
                                    <p class="welcome-txt">Welcome, John!</p>
                                    <p class="amount-txt"><span class="amount">$7.15</span> Available Credit funds
                                    </p>
                                </div>
                            </div>
                            <div class="arrow">
                                <svg width="14" height="14" viewBox="0 0 14 14" fill="none"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd" clip-rule="evenodd"
                                        d="M12.1375 5.41103L7.90066 1.17227C7.25336 0.524673 6.14912 0.578952 5.43492 1.29347C4.72072 2.00799 4.66647 3.11272 5.31377 3.76031L8.26667 6.71453L5.3001 9.68244C4.65273 10.3301 4.70752 11.4355 5.42075 12.149C6.13474 12.8633 7.23961 12.9181 7.88698 12.2705L11.9479 8.20776C12.0219 8.15193 12.0931 8.09013 12.1608 8.02239C12.2443 7.93893 12.3187 7.85013 12.384 7.75735C12.5574 7.53875 12.6631 7.28116 12.7025 7.01008C12.8021 6.48203 12.6647 5.93847 12.282 5.55555L12.1557 5.42924C12.1527 5.42619 12.1497 5.42314 12.1466 5.4201C12.1436 5.41706 12.1406 5.41404 12.1375 5.41103Z" />
                                </svg>
                            </div>
                        </a>
                    </div>
                    <div class="item">
                        <a href="javascript:;" class="nav-item">
                            <div class="nav-left">
                                <div class="img-area">
                                    <svg width="22" height="12" viewBox="0 0 22 12" fill="none"
                                        xmlns="http://www.w3.org/2000/svg">
                                        <path fill-rule="evenodd" clip-rule="evenodd"
                                            d="M16.1333 0C17.7528 0 19.1353 0.585963 20.2811 1.75776C21.427 2.92961 22 4.34366 22 5.99992C22 7.65642 21.427 9.07006 20.2811 10.2421C19.1353 11.4141 17.7526 12 16.1333 12C14.6664 12 13.3757 11.4998 12.2604 10.4998H9.73958C8.62416 11.4998 7.33344 12 5.8667 12C4.2472 12 2.86446 11.4138 1.71882 10.2421C0.573061 9.07031 0 7.65638 0 5.99992C0 4.34366 0.5729 2.92961 1.71882 1.75776C2.86446 0.585922 4.24737 0 5.8667 0H16.1333ZM8.90162 7.45152C8.96728 7.38612 9 7.30222 9 7.20008H8.99992V5.80003C8.99992 5.69797 8.96721 5.61407 8.90154 5.54845C8.83592 5.48278 8.75213 5.45007 8.64996 5.45007H6.54989V3.34997C6.54989 3.24791 6.51717 3.16401 6.45151 3.09838C6.38588 3.03272 6.3021 3 6.19992 3H4.79988C4.69783 3 4.61389 3.03268 4.5483 3.09838C4.48276 3.16401 4.45004 3.24791 4.45004 3.34997V5.45007H2.34985C2.24779 5.45007 2.16389 5.48278 2.09827 5.54845C2.03272 5.61407 2 5.69797 2 5.80003V7.20008C2 7.30222 2.03272 7.38612 2.09827 7.45152C2.16389 7.51722 2.24779 7.54997 2.34985 7.54997H4.45012V9.65011C4.45012 9.75225 4.48283 9.83615 4.54838 9.90158C4.61401 9.96725 4.6979 10 4.79996 10H6.2C6.30221 10 6.38596 9.96725 6.45158 9.90158C6.51724 9.83615 6.54996 9.75225 6.54996 9.65011V7.54997H8.65004C8.75221 7.54997 8.83599 7.51722 8.90162 7.45152ZM15.5607 8.56039C15.2676 8.85339 14.9141 9 14.4998 9C14.0861 9 13.7324 8.85339 13.4395 8.56039C13.1465 8.26767 13 7.914 13 7.49996C13 7.08588 13.1465 6.73237 13.4395 6.43949C13.7324 6.14677 14.0861 6 14.4998 6C14.9141 6 15.2676 6.14677 15.5607 6.43949C15.8534 6.73237 16 7.08588 16 7.49996C16 7.914 15.8534 8.26767 15.5607 8.56039ZM17.4999 6C17.914 6 18.2677 5.85343 18.5603 5.56056C18.8535 5.26762 19 4.91405 19 4.4999C19 4.08595 18.8534 3.73242 18.5603 3.43948C18.2677 3.14645 17.914 3 17.4999 3C17.0858 3 16.7323 3.14645 16.4395 3.43948C16.1465 3.73242 16 4.08595 16 4.4999C16 4.91409 16.1465 5.2675 16.4395 5.56056C16.7323 5.85359 17.0858 6 17.4999 6Z" />
                                    </svg>
                                </div>
                                <div class="txt-area">
                                    browse matches
                                </div>
                            </div>
                            <div class="arrow">
                                <svg width="14" height="14" viewBox="0 0 14 14" fill="none"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd" clip-rule="evenodd"
                                        d="M12.1375 5.41103L7.90066 1.17227C7.25336 0.524673 6.14912 0.578952 5.43492 1.29347C4.72072 2.00799 4.66647 3.11272 5.31377 3.76031L8.26667 6.71453L5.3001 9.68244C4.65273 10.3301 4.70752 11.4355 5.42075 12.149C6.13474 12.8633 7.23961 12.9181 7.88698 12.2705L11.9479 8.20776C12.0219 8.15193 12.0931 8.09013 12.1608 8.02239C12.2443 7.93893 12.3187 7.85013 12.384 7.75735C12.5574 7.53875 12.6631 7.28116 12.7025 7.01008C12.8021 6.48203 12.6647 5.93847 12.282 5.55555L12.1557 5.42924C12.1527 5.42619 12.1497 5.42314 12.1466 5.4201C12.1436 5.41706 12.1406 5.41404 12.1375 5.41103Z" />
                                </svg>
                            </div>
                        </a>
                    </div>
                    <div class="item">
                        <a href="/my-chellenges" class="nav-item">
                            <div class="nav-left">
                                <div class="img-area">
                                    <svg width="20" height="20" viewBox="0 0 20 20" fill="none"
                                        xmlns="http://www.w3.org/2000/svg">
                                        <path
                                            d="M3.18406 13.1295C3.05043 12.9969 2.83059 12.9969 2.69697 13.1295L2.21634 13.6043C2.08272 13.7369 2.08272 13.9551 2.21634 14.0877L3.42976 15.2918L1.99004 16.7205C1.92754 16.712 1.86503 16.7077 1.80038 16.7077C1.06328 16.7077 0.464111 17.3023 0.464111 18.0338C0.464111 18.7652 1.06328 19.3598 1.80038 19.3598C2.53748 19.3598 3.13664 18.7652 3.13664 18.0338C3.13664 17.9888 3.13449 17.9439 3.13018 17.899L4.59145 16.4489L5.80486 17.6531C5.93849 17.7857 6.15833 17.7857 6.29195 17.6531L6.77258 17.1761C6.9062 17.0435 6.9062 16.8253 6.77258 16.6927L3.18406 13.1295Z" />
                                        <path
                                            d="M4.56763 13.138L6.76169 15.3153L9.08722 13.5679L6.0095 11.228L4.56763 13.138Z" />
                                        <path
                                            d="M19.6028 0.00788263L13.803 1.32325C13.553 1.381 13.3332 1.52216 13.1801 1.72534L10.7102 4.99772L12.4495 7.34399L12.5982 7.54503L14.2082 9.71592L18.2148 6.70448C18.4131 6.55477 18.5532 6.34089 18.6114 6.10134L19.9908 0.395006C20.0468 0.164015 19.8378 -0.0434487 19.6028 0.00788263Z" />
                                        <path
                                            d="M14.0141 14.5463L14.6305 13.9346L15.4323 13.139L6.81983 1.72632C6.66681 1.52313 6.44697 1.38197 6.19696 1.32422L0.397137 0.00885678C0.162213 -0.0424745 -0.0468482 0.16499 0.00918873 0.398119L1.38856 6.10445C1.44675 6.344 1.58684 6.55788 1.78513 6.70759L13.2382 15.3163L14.0141 14.5463Z" />
                                        <path
                                            d="M18.1568 16.7077C18.105 16.7077 18.0555 16.7098 18.008 16.7163L16.5705 15.2918L17.7839 14.0877C17.9175 13.9551 17.9175 13.7369 17.7839 13.6043L17.3033 13.1295C17.1696 12.9969 16.9498 12.9969 16.8162 13.1295L13.2277 16.6927C13.094 16.8253 13.094 17.0435 13.2277 17.1761L13.7083 17.6531C13.8419 17.7857 14.0617 17.7857 14.1954 17.6531L15.4088 16.4489L16.8313 17.8605C16.8248 17.9183 16.8205 17.976 16.8205 18.0338C16.8205 18.7652 17.4197 19.3598 18.1568 19.3598C18.8939 19.3598 19.493 18.7652 19.493 18.0338C19.493 17.3002 18.8939 16.7077 18.1568 16.7077Z" />
                                    </svg>
                                </div>
                                <div class="txt-area">
                                    my challenges
                                </div>
                            </div>
                            <div class="arrow">
                                <svg width="14" height="14" viewBox="0 0 14 14" fill="none"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd" clip-rule="evenodd"
                                        d="M12.1375 5.41103L7.90066 1.17227C7.25336 0.524673 6.14912 0.578952 5.43492 1.29347C4.72072 2.00799 4.66647 3.11272 5.31377 3.76031L8.26667 6.71453L5.3001 9.68244C4.65273 10.3301 4.70752 11.4355 5.42075 12.149C6.13474 12.8633 7.23961 12.9181 7.88698 12.2705L11.9479 8.20776C12.0219 8.15193 12.0931 8.09013 12.1608 8.02239C12.2443 7.93893 12.3187 7.85013 12.384 7.75735C12.5574 7.53875 12.6631 7.28116 12.7025 7.01008C12.8021 6.48203 12.6647 5.93847 12.282 5.55555L12.1557 5.42924C12.1527 5.42619 12.1497 5.42314 12.1466 5.4201C12.1436 5.41706 12.1406 5.41404 12.1375 5.41103Z" />
                                </svg>
                            </div>
                        </a>
                    </div>
                    <div class="item">
                        <a href="/history" class="nav-item">
                            <div class="nav-left">
                                <div class="img-area">
                                    <svg width="20" height="22" viewBox="0 0 20 22" fill="none"
                                        xmlns="http://www.w3.org/2000/svg">
                                        <path
                                            d="M10 1.25478C9.91639 1.25478 9.8495 1.25478 9.78261 1.27151V0.367965C9.78261 0.0835167 9.48161 -0.0838062 9.23077 0.0500521L4.58194 2.74395C4.34783 2.87781 4.34783 3.22919 4.58194 3.37978L9.23077 6.07367C9.46488 6.20753 9.78261 6.04021 9.78261 5.75576V5.08647C9.8495 5.1032 9.93311 5.1032 10 5.1032C13.3946 5.1032 16.1538 7.86403 16.1538 11.2607C16.1538 14.6573 13.3946 17.4014 10 17.4014C6.60535 17.4014 3.84615 14.6406 3.84615 11.2439C3.84615 10.1731 2.99331 9.31974 1.92308 9.31974C0.852843 9.31974 0 10.1898 0 11.2439C0 16.7656 4.48161 21.2499 10 21.2499C15.5184 21.2499 20 16.7656 20 11.2439C20 5.73903 15.5184 1.25478 10 1.25478Z" />
                                    </svg>
                                </div>
                                <div class="txt-area">
                                    my game history
                                </div>
                            </div>
                            <div class="arrow">
                                <svg width="14" height="14" viewBox="0 0 14 14" fill="none"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd" clip-rule="evenodd"
                                        d="M12.1375 5.41103L7.90066 1.17227C7.25336 0.524673 6.14912 0.578952 5.43492 1.29347C4.72072 2.00799 4.66647 3.11272 5.31377 3.76031L8.26667 6.71453L5.3001 9.68244C4.65273 10.3301 4.70752 11.4355 5.42075 12.149C6.13474 12.8633 7.23961 12.9181 7.88698 12.2705L11.9479 8.20776C12.0219 8.15193 12.0931 8.09013 12.1608 8.02239C12.2443 7.93893 12.3187 7.85013 12.384 7.75735C12.5574 7.53875 12.6631 7.28116 12.7025 7.01008C12.8021 6.48203 12.6647 5.93847 12.282 5.55555L12.1557 5.42924C12.1527 5.42619 12.1497 5.42314 12.1466 5.4201C12.1436 5.41706 12.1406 5.41404 12.1375 5.41103Z" />
                                </svg>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
            <div class="create-match-area">
                <a href="/create-match" class="create-btn btn-yellow">create a match</a>
            </div>
        </div>
        <div class="lng-area">
            <div class="current">
                <a href="javascript:;">
                    <img src="/images/uk.svg" alt="UK Flag">
                </a>
            </div>
            <div class="other">
                <a href="javascript:;">
                    <img src="/images/iran.svg" alt="Iran Flag">
                </a>
            </div>
        </div>
        <div class="layer d-none"></div>
    </header>
    <section class="left-navigation">
        <div class="up-area">
            <div class="logo-area">
                <a href="/">
                    <img src="/images/logo.svg" alt="Logo" class="small-logo" />
                    <img src="/images/footer-logo.svg" alt="Proschall logo" class="big-logo d-none" />
                </a>
            </div>
            <div class="games-list">
                <div class="item">
                    <a href="/browse-game-matches">
                        <span class="logo">
                            <svg width="18" height="18" viewBox="0 0 18 18" fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                                <path
                                    d="M18 0H15.7661L14.8359 0.465082L13.9057 0H9.52734L8.47266 0.527344H5.55757L4.50288 0H0V8.47266L0.527344 9.52734V12.4424L0 13.4971V18H9L9.9302 17.5349L10.8604 18H18V10.8604L17.5349 9.9302L18 9V0ZM4.74609 14.8359L3.16406 13.2539V10.0898L7.91016 14.8359H4.74609ZM14.3086 14.8359H12.1992L10.8322 13.2295L10.5503 12.0845L9.46512 11.6231L9 11.0765L3.16406 4.21875L4.21875 3.16406L9 6.75791L14.8359 11.1445L14.3086 14.8359ZM14.8359 7.91016L10.0898 3.16406H13.2539L14.8359 4.74609V7.91016Z" />
                            </svg>
                        </span>
                        <span class="name">
                            Dota
                        </span>
                    </a>
                </div>
                <div class="item">
                    <a href="/browse-game-matches">
                        <span class="logo">
                            <svg width="17" height="18" viewBox="0 0 17 18" fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                                <path
                                    d="M2.42966 0C2.35444 0 2.28072 0.021156 2.21673 0.0610974C2.15275 0.101039 2.10105 0.158187 2.06741 0.22614C2.03377 0.294092 2.01953 0.370163 2.02629 0.44583C2.03304 0.521496 2.06052 0.593767 2.10565 0.654545L3.23968 2.18127V15.8187L1.70064 17.3455C1.65551 17.4062 1.62803 17.4785 1.62128 17.5542C1.61452 17.6298 1.62876 17.7059 1.6624 17.7739C1.69604 17.8418 1.74774 17.899 1.81172 17.9389C1.87571 17.9788 1.94943 18 2.02465 18H13.7699C13.8931 18 14.0093 17.9435 14.0863 17.8466L16.1113 15.8011C16.1587 15.7409 16.1883 15.6683 16.1968 15.5919C16.2052 15.5154 16.1922 15.4381 16.1592 15.3687C16.1262 15.2993 16.0746 15.2408 16.0102 15.1997C15.9457 15.1586 15.8712 15.1367 15.795 15.1364H7.28978V0.409091C7.28978 0.300593 7.24711 0.196539 7.17115 0.11982C7.0952 0.0431005 6.99219 0 6.88477 0H2.42966ZM8.0998 1.63636V2.45455C12.1195 2.45455 15.39 5.75795 15.39 9.81818C15.39 11.5135 14.8145 13.0721 13.8578 14.3182H14.8578C15.734 12.9843 16.2009 11.4189 16.2 9.81818C16.2 5.30673 12.5662 1.63636 8.0998 1.63636ZM8.0998 3.27273V14.3182H12.7939C13.8979 13.1441 14.58 11.5617 14.58 9.81818C14.58 6.20918 11.6728 3.27273 8.0998 3.27273ZM2.42966 3.98455C1.02995 5.373 0.123938 7.2675 0.0117502 9.37309C-0.00876879 9.76034 -0.0024081 10.1486 0.0307856 10.5349C0.202915 12.5313 1.09029 14.3231 2.42966 15.6518V14.4356C1.38085 13.13 0.808811 11.4995 0.80962 9.81818C0.808811 8.13683 1.38085 6.50641 2.42966 5.20077V3.98455ZM2.42966 6.65632C1.89772 7.6235 1.61892 8.71178 1.61964 9.81818C1.61964 10.9645 1.91489 12.042 2.42966 12.98V6.65591V6.65632Z" />
                            </svg>

                        </span>
                        <span class="name">
                            League Of Legends
                        </span>
                    </a>
                </div>
                <div class="item">
                    <a href="/browse-game-matches">
                        <span class="logo">
                            <svg width="35" height="12" viewBox="0 0 35 12" fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd" clip-rule="evenodd"
                                    d="M0 -1.33119e-05V11.176H3.52998V7.14068H5.98273L6.93625 4.69789H3.52998V2.43019H7.6759L8.58015 -1.33119e-05H0Z" />
                                <path fill-rule="evenodd" clip-rule="evenodd"
                                    d="M9.65931 0.00465588L9.65302 11.1807H13.1421V0.00465588H9.65931Z" />
                                <path fill-rule="evenodd" clip-rule="evenodd"
                                    d="M26.8345 7.53023L28.1785 2.87688L29.5708 7.53023H26.8345ZM30.0468 0.00476768H26.424L22.407 11.1818H25.7792L26.2133 9.67893H30.1443L30.5988 11.1818H34.0742L30.0468 0.00476768Z" />
                                <path fill-rule="evenodd" clip-rule="evenodd"
                                    d="M15.5515 0.00465588V11.1807H19.0794V7.14535H21.5295L22.4899 4.70256H19.0794V2.43486H23.2269L24.138 0.00465588H15.5515Z" />
                            </svg>
                        </span>
                        <span class="name">
                            FIFA World Cup
                        </span>
                    </a>
                </div>
                <div class="item">
                    <a href="/browse-game-matches">
                        <span class="logo">
                            <svg width="39" height="11" viewBox="0 0 39 11" fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                                <path
                                    d="M0 5.5C0 8.52562 0.00740038 11 0.0172676 11C0.0320683 11 2.04251 10.6234 2.28918 10.5735L2.41746 10.5485V8.52812V6.5102H3.18216H3.94687V6.14104C3.94687 5.939 3.95427 5.4127 3.96414 4.96871L3.97894 4.16553H3.19943H2.41746V3.28005V2.39456H3.31784C3.81366 2.39456 4.21822 2.38957 4.21822 2.38209C4.21822 2.35465 4.41556 0.224489 4.4279 0.117233L4.4427 -1.63913e-07H2.22011H0V5.5Z" />
                                <path
                                    d="M36.8981 0.321775L34.9296 0.4864V5.45511V10.4238L35.011 10.4363C35.0826 10.4488 38.8937 10.7281 38.9702 10.7256C38.9924 10.7256 38.9998 10.4612 38.9998 9.49094V8.25624H38.1611H37.3224V7.35828V6.46032H38.0378H38.7531V5.38776V4.3152H38.0131H37.2731V3.60432V2.89343L37.3298 2.88345C37.3594 2.87597 37.611 2.86599 37.8898 2.85602C38.1685 2.84853 38.5311 2.83606 38.6989 2.82608L38.9998 2.81112V1.48164V0.149666L38.9332 0.15216C38.8937 0.154655 37.9786 0.229484 36.8981 0.321775Z" />
                                <path
                                    d="M24.2609 0.665862C24.2856 0.915295 24.5668 4.67425 24.5619 4.67924C24.5594 4.68423 24.1968 3.78378 23.7552 2.67879C23.3161 1.5738 22.9461 0.658379 22.9363 0.640919C22.9215 0.613482 22.2406 0.740692 21.1232 0.980148L21.0171 1.0026V5.29035V9.57811H22.1148H23.2125L23.2002 9.39851C23.1755 9.06427 23.0843 6.30056 23.0941 6.1908C23.1015 6.09353 23.1755 6.26314 23.8761 7.97425C24.3004 9.01439 24.6605 9.87493 24.6704 9.8899C24.6852 9.90486 25.0281 9.88241 25.6103 9.83253C26.116 9.78763 26.5304 9.74772 26.5304 9.74523C26.5328 9.74273 26.5205 7.94432 26.5032 5.74931C26.486 3.5543 26.4712 1.48151 26.4712 1.13978L26.4687 0.523685H25.3587H24.2461L24.2609 0.665862Z" />
                                <path
                                    d="M6.89478 0.675984C5.41964 0.775757 4.60807 1.79594 4.35152 3.86623C4.29972 4.29526 4.27751 5.75195 4.31452 6.26079C4.43786 7.91204 4.87941 8.9846 5.66385 9.53086C6.08567 9.8227 6.71964 9.97984 7.34621 9.94243C8.05911 9.90252 8.54507 9.69798 8.98169 9.25648C9.33937 8.89481 9.53425 8.55558 9.72173 7.97689C9.98321 7.16873 10.1016 5.96147 10.0424 4.70433C9.97581 3.29753 9.76613 2.42202 9.33444 1.75104C8.92249 1.11249 8.27125 0.730859 7.51148 0.683467C7.39061 0.675984 7.26233 0.668501 7.2278 0.663513C7.19326 0.661018 7.04526 0.666007 6.89478 0.675984ZM7.2426 2.63653C7.42268 2.83358 7.49915 3.6193 7.49915 5.30047C7.49915 7.37077 7.37087 8.23131 7.08966 8.04673C6.96879 7.96442 6.87752 7.56283 6.83311 6.89685C6.80104 6.41045 6.80104 4.18301 6.83311 3.71657C6.87998 3.05807 6.96385 2.6939 7.08966 2.6066C7.15873 2.55671 7.17106 2.5592 7.2426 2.63653Z" />
                                <path
                                    d="M10.3607 5.21069V9.75286H11.493H12.6228L12.6376 9.43608C12.6474 9.25898 12.6672 8.68529 12.682 8.15649C12.6968 7.62769 12.7165 7.16375 12.7264 7.12633C12.7387 7.07395 12.8448 7.41069 13.1704 8.5481C13.4072 9.36874 13.607 10.0497 13.6169 10.0597C13.6366 10.0821 15.9505 9.89753 15.9751 9.87259C15.9825 9.86261 15.726 9.04697 15.4053 8.05422L14.8231 6.25332L14.9465 6.14356C15.356 5.78189 15.6939 5.08347 15.7901 4.39254C15.8321 4.09073 15.8049 3.34243 15.7408 3.06556C15.4941 1.98053 14.8404 1.13744 14.0066 0.823156C13.644 0.688462 13.6736 0.690957 11.9592 0.680979L10.3607 0.671002V5.21069ZM12.904 2.82112C13.0791 2.90842 13.2222 3.13291 13.2987 3.4422C13.3505 3.64923 13.3431 4.30524 13.2863 4.51477C13.1803 4.90887 12.9928 5.13835 12.7116 5.22565L12.6548 5.24062V3.99345V2.74379L12.7362 2.76125C12.7782 2.76873 12.8546 2.79617 12.904 2.82112Z" />
                                <path
                                    d="M15.8616 1.85827V3.01813H16.4907H17.1197V6.36054V9.70294H18.3038H19.4878V6.56008V3.41723H20.1292H20.7706V2.25736V1.0975L20.7163 1.08752C20.6645 1.07505 15.9603 0.695912 15.8937 0.698407C15.869 0.698407 15.8616 0.94784 15.8616 1.85827Z" />
                                <path
                                    d="M26.9869 5.47505V10.0023H28.208H29.4291V5.47505V0.947837H28.208H26.9869V5.47505Z" />
                                <path
                                    d="M32.2162 1.26212C30.8792 1.33445 29.7667 1.39432 29.7445 1.39432C29.7025 1.39681 29.7001 1.46915 29.7001 2.56915V3.74148H30.3291H30.9581V7.02153V10.3016H32.1545H33.3509V6.88434V3.46711H34.017H34.683V2.29477C34.683 1.64874 34.6756 1.12493 34.6657 1.12493C34.6534 1.12743 33.5532 1.18729 32.2162 1.26212Z" />
                            </svg>
                        </span>
                        <span class="name">
                            Fortnite
                        </span>
                    </a>
                </div>
            </div>
            <div class="navigation d-none">
                <ul class="d-none">
                    <li><a href="javascript:;">how it works</a></li>
                    <li><a href="javascript:;">user guides</a></li>
                    <li><a href="javascript:;">support & faq</a></li>
                    <li><a href="javascript:;">about us</a></li>
                </ul>
            </div>
            <div class="bottom-info">
                <div class="info-inner d-none">
                    <div class="create-match-area">
                        <a href="javascript:;" class="btn-yellow create-btn">create a match</a>
                    </div>
                    <div class="txt">
                        <p>You’re logged in as <br> <span>Johndoe1234</span></p>
                        <a href="javascript:;" class="not-you-btn">not you? please login here</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="bottom-logo">
            <img src="/images/proschall.svg" alt="Proschall logo" />
        </div>
    </section>