<section class="popup-outer">
    <div class="popup-content">
        <a href="javascript:;" class="btn-close">
            <img src="/images/modal/close-icon.svg" alt="Close">
        </a>
        <div class="tab-header">
            <a href="javascript:;" class="tab-link" data-tab="signin">Sign In</a>
            <a href="javascript:;" class="tab-link" data-tab="signup">Sign Up</a>
        </div>
        <div class="tab-content">
            <div class="tab-item" data-tab="signin">
                <div class="tab-logo">
                    <img src="/images/logo.svg" alt="Logo" />
                </div>
                <p class="name">Login</p>
                <form id="signinForm" name="signinForm">
                    <div class="input-fields">
                        <div class="input-field">
                            <input type="text" placeholder="User Or Email" id="signinEmail" name="signinEmail" />
                        </div>
                        <div class="input-field">
                            <input type="password" placeholder="Password" id="signinPassword" name="signinPassword" />
                        </div>
                    </div>
                    <div class="buttons">
                        <div>
                            <button id="btnSignIn" class="btn-yellow">Sign In</button>
                        </div>
                        <div>
                            <a href="javascript:;" class="resetPass">Reset password</a>
                        </div>
                    </div>
                </form>
            </div>
            <div class="tab-item" data-tab="signup">
                <form id="signupForm" name="signupForm">
                    <div class="input-fields">
                        <div class="input-field">
                            <input type="text" placeholder="First Name" id="firstName" name="firstName" />
                        </div>
                        <div class="input-field">
                            <input type="text" placeholder="Last Name" id="lastName" name="lastName" />
                        </div>
                        <div class="input-field">
                            <input type="text" placeholder="Username" id="username" name="username" />
                        </div>
                        <div class="input-field">
                            <input type="email" placeholder="Email" id="email" name="email" />
                        </div>
                        <div class="input-field">
                            <input type="password" placeholder="Password" id="password" name="password" />
                        </div>
                        <div class="input-field">
                            <input type="password" placeholder="Confirm password" id="confirmPassword"
                                name="confirmPassword" />
                        </div>
                        <div class="input-field">
                            <p class="txt">Do you want to join this match. if yes you should accept with terms and
                                conditions;</p>
                            <div class="terms-conditions-area">
                                <input type="checkbox" id="termsConditions" name="termsConditions" />
                                <label for="termsConditions">Agree to terms and conditions</label>
                            </div>
                        </div>
                    </div>
                    <div class="buttons">
                        <div>
                            <button id="btnSignUp" class="btn-yellow">Sign Up</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>