<%- include("./default/header.ejs") %>
<main class="browse-match-page">
    <section class="browse-match-section">
        <div class="filter-arae">
            <div class="filter-list">
                <div class="filter-item">
                    <div class="label">
                        <a href="javascript:;">
                            by Game
                            <span class="filter-arrow">
                                <svg width="6" height="9" viewBox="0 0 6 9" fill="none"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd" clip-rule="evenodd"
                                        d="M5.48244 5.07578C5.4537 5.12071 5.4197 5.16323 5.38044 5.20249L2.13879 8.44415C1.8459 8.73704 1.37102 8.73704 1.07813 8.44415C0.785236 8.15126 0.785236 7.67638 1.07813 7.38349L3.9968 4.46482L1.28124 1.74926C0.988347 1.45637 0.988347 0.981495 1.28124 0.688602C1.57413 0.395709 2.04901 0.395709 2.3419 0.688602L5.58356 3.93026C5.87645 4.22315 5.87645 4.69802 5.58355 4.99092C5.55183 5.02264 5.51797 5.05093 5.48244 5.07578Z" />
                                </svg>
                            </span>
                        </a>
                    </div>
                    <ul>
                        <li><a href="javascript:;">A</a></li>
                        <li><a href="javascript:;">B</a></li>
                        <li><a href="javascript:;">C</a></li>
                    </ul>
                </div>
                <div class="filter-item">
                    <div class="label">
                        <a href="javascript:;">
                            by Prize
                            <span class="filter-arrow">
                                <svg width="6" height="9" viewBox="0 0 6 9" fill="none"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd" clip-rule="evenodd"
                                        d="M5.48244 5.07578C5.4537 5.12071 5.4197 5.16323 5.38044 5.20249L2.13879 8.44415C1.8459 8.73704 1.37102 8.73704 1.07813 8.44415C0.785236 8.15126 0.785236 7.67638 1.07813 7.38349L3.9968 4.46482L1.28124 1.74926C0.988347 1.45637 0.988347 0.981495 1.28124 0.688602C1.57413 0.395709 2.04901 0.395709 2.3419 0.688602L5.58356 3.93026C5.87645 4.22315 5.87645 4.69802 5.58355 4.99092C5.55183 5.02264 5.51797 5.05093 5.48244 5.07578Z" />
                                </svg>
                            </span>
                        </a>
                    </div>
                    <ul>
                        <li><a href="javascript:;">A</a></li>
                        <li><a href="javascript:;">B</a></li>
                        <li><a href="javascript:;">C</a></li>
                    </ul>
                </div>
                <div class="filter-item">
                    <div class="label">
                        <a href="javascript:;">
                            by Console
                            <span class="filter-arrow">
                                <svg width="6" height="9" viewBox="0 0 6 9" fill="none"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd" clip-rule="evenodd"
                                        d="M5.48244 5.07578C5.4537 5.12071 5.4197 5.16323 5.38044 5.20249L2.13879 8.44415C1.8459 8.73704 1.37102 8.73704 1.07813 8.44415C0.785236 8.15126 0.785236 7.67638 1.07813 7.38349L3.9968 4.46482L1.28124 1.74926C0.988347 1.45637 0.988347 0.981495 1.28124 0.688602C1.57413 0.395709 2.04901 0.395709 2.3419 0.688602L5.58356 3.93026C5.87645 4.22315 5.87645 4.69802 5.58355 4.99092C5.55183 5.02264 5.51797 5.05093 5.48244 5.07578Z" />
                                </svg>
                            </span>
                        </a>
                    </div>
                    <ul>
                        <li><a href="javascript:;">A</a></li>
                        <li><a href="javascript:;">B</a></li>
                        <li><a href="javascript:;">C</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="gamer-dashboard-bg d-none">
            <img src="/images/gamer-dashboard-bg.svg" alt="gamer dashboard background" />
            <div class="layer"></div>
        </div>
        <div class="header-img d-none">
            <img src="/images/browse-match/browse-match-section.svg" alt="Image">
        </div>
        <div class="cards-list-area">
            <h1 class="section-title d-none">Dota 2 Matches</h1>
            <div class="cards-list">
                <div class="card">
                    <div class="img-area">
                        <img src="/images/browse-match/card-header.svg" alt="">
                        <div class="console-logo">
                            <img src="/images/browse-match/console.svg" alt="">
                        </div>
                        <div class="versus-area">
                            <img src="/images/games/Dota.svg" alt="Dota">
                            <span>1v1</span>
                        </div>
                    </div>
                    <div class="txt-area">
                        <div class="user">
                            <div class="img-area">
                                <img src="/images/browse-match/user-placeholder.svg" alt="User">
                            </div>
                            <div class="txt-area">
                                <p class="name">Christa1234</p>
                                <p class="status">Challenger</p>
                            </div>
                        </div>
                        <div class="info">
                            <div class="row">
                                <div class="txt">
                                    <span>Game Mode</span>
                                    <p>1v1 Mid Draft</p>
                                </div>
                                <div class="txt">
                                    <span>Rank Requirements</span>
                                    <p>Legend</p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="txt">
                                    <span>Prize</span>
                                    <p>$2</p>
                                </div>
                            </div>
                        </div>
                        <div class="button-area">
                            <a href="/match-details" class="join-btn card-btn btn-yellow">
                                join match
                            </a>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="img-area">
                        <img src="/images/browse-match/card-header.svg" alt="">
                        <div class="console-logo">
                            <img src="/images/browse-match/ps-console.svg" alt="">
                        </div>
                        <div class="versus-area">
                            <img src="/images/games/Dota.svg" alt="Dota">
                            <span>1v1</span>
                        </div>
                    </div>
                    <div class="txt-area">
                        <div class="user">
                            <div class="img-area">
                                <img src="/images/browse-match/user-placeholder.svg" alt="User">
                            </div>
                            <div class="txt-area">
                                <p class="name">Christa1234</p>
                                <p class="status">Challenger</p>
                            </div>
                        </div>
                        <div class="info">
                            <div class="row">
                                <div class="txt">
                                    <span>Game Mode</span>
                                    <p>1v1 Mid Draft</p>
                                </div>
                                <div class="txt">
                                    <span>Rank Requirements</span>
                                    <p>Legend</p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="txt">
                                    <span>Prize</span>
                                    <p>$2</p>
                                </div>
                            </div>
                        </div>
                        <div class="button-area">
                            <a href="/match-details" class="join-btn card-btn btn-yellow">
                                join match
                            </a>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="img-area">
                        <img src="/images/browse-match/card-header.svg" alt="">
                        <div class="console-logo">
                            <img src="/images/browse-match/pc-console.svg" alt="">
                        </div>
                        <div class="versus-area">
                            <img src="/images/games/Dota.svg" alt="Dota">
                            <span>1v1</span>
                        </div>
                    </div>
                    <div class="txt-area">
                        <div class="user">
                            <div class="img-area">
                                <img src="/images/browse-match/user-placeholder.svg" alt="User">
                            </div>
                            <div class="txt-area">
                                <p class="name">Christa1234</p>
                                <p class="status">Challenger</p>
                            </div>
                        </div>
                        <div class="info">
                            <div class="row">
                                <div class="txt">
                                    <span>Game Mode</span>
                                    <p>1v1 Mid Draft</p>
                                </div>
                                <div class="txt">
                                    <span>Rank Requirements</span>
                                    <p>Legend</p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="txt">
                                    <span>Prize</span>
                                    <p>$2</p>
                                </div>
                            </div>
                        </div>
                        <div class="button-area">
                            <a href="/match-details" class="join-btn card-btn btn-yellow">
                                join match
                            </a>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="img-area">
                        <img src="/images/browse-match/card-header.svg" alt="">
                        <div class="console-logo">
                            <img src="/images/browse-match/xbox-console.svg" alt="">
                        </div>
                        <div class="versus-area">
                            <img src="/images/games/Dota.svg" alt="Dota">
                            <span>1v1</span>
                        </div>
                    </div>
                    <div class="txt-area">
                        <div class="user">
                            <div class="img-area">
                                <img src="/images/browse-match/user-placeholder.svg" alt="User">
                            </div>
                            <div class="txt-area">
                                <p class="name">Christa1234</p>
                                <p class="status">Challenger</p>
                            </div>
                        </div>
                        <div class="info">
                            <div class="row">
                                <div class="txt">
                                    <span>Game Mode</span>
                                    <p>1v1 Mid Draft</p>
                                </div>
                                <div class="txt">
                                    <span>Rank Requirements</span>
                                    <p>Legend</p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="txt">
                                    <span>Prize</span>
                                    <p>$2</p>
                                </div>
                            </div>
                        </div>
                        <div class="button-area">
                            <a href="/match-details" class="join-btn card-btn btn-yellow">
                                join match
                            </a>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="img-area">
                        <img src="/images/browse-match/card-header.svg" alt="">
                        <div class="console-logo">
                            <img src="/images/browse-match/console.svg" alt="">
                        </div>
                        <div class="versus-area">
                            <img src="/images/games/Dota.svg" alt="Dota">
                            <span>1v1</span>
                        </div>
                    </div>
                    <div class="txt-area">
                        <div class="user">
                            <div class="img-area">
                                <img src="/images/browse-match/user-placeholder.svg" alt="User">
                            </div>
                            <div class="txt-area">
                                <p class="name">Christa1234</p>
                                <p class="status">Challenger</p>
                            </div>
                        </div>
                        <div class="info">
                            <div class="row">
                                <div class="txt">
                                    <span>Game Mode</span>
                                    <p>1v1 Mid Draft</p>
                                </div>
                                <div class="txt">
                                    <span>Rank Requirements</span>
                                    <p>Legend</p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="txt">
                                    <span>Prize</span>
                                    <p>$2</p>
                                </div>
                            </div>
                        </div>
                        <div class="button-area">
                            <a href="/match-details" class="join-btn card-btn btn-yellow">
                                join match
                            </a>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="img-area">
                        <img src="/images/browse-match/card-header.svg" alt="">
                        <div class="console-logo">
                            <img src="/images/browse-match/ps-console.svg" alt="">
                        </div>
                        <div class="versus-area">
                            <img src="/images/games/Dota.svg" alt="Dota">
                            <span>1v1</span>
                        </div>
                    </div>
                    <div class="txt-area">
                        <div class="user">
                            <div class="img-area">
                                <img src="/images/browse-match/user-placeholder.svg" alt="User">
                            </div>
                            <div class="txt-area">
                                <p class="name">Christa1234</p>
                                <p class="status">Challenger</p>
                            </div>
                        </div>
                        <div class="info">
                            <div class="row">
                                <div class="txt">
                                    <span>Game Mode</span>
                                    <p>1v1 Mid Draft</p>
                                </div>
                                <div class="txt">
                                    <span>Rank Requirements</span>
                                    <p>Legend</p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="txt">
                                    <span>Prize</span>
                                    <p>$2</p>
                                </div>
                            </div>
                        </div>
                        <div class="button-area">
                            <a href="/match-details" class="join-btn card-btn btn-yellow">
                                join match
                            </a>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="img-area">
                        <img src="/images/browse-match/card-header.svg" alt="">
                        <div class="console-logo">
                            <img src="/images/browse-match/pc-console.svg" alt="">
                        </div>
                        <div class="versus-area">
                            <img src="/images/games/Dota.svg" alt="Dota">
                            <span>1v1</span>
                        </div>
                    </div>
                    <div class="txt-area">
                        <div class="user">
                            <div class="img-area">
                                <img src="/images/browse-match/user-placeholder.svg" alt="User">
                            </div>
                            <div class="txt-area">
                                <p class="name">Christa1234</p>
                                <p class="status">Challenger</p>
                            </div>
                        </div>
                        <div class="info">
                            <div class="row">
                                <div class="txt">
                                    <span>Game Mode</span>
                                    <p>1v1 Mid Draft</p>
                                </div>
                                <div class="txt">
                                    <span>Rank Requirements</span>
                                    <p>Legend</p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="txt">
                                    <span>Prize</span>
                                    <p>$2</p>
                                </div>
                            </div>
                        </div>
                        <div class="button-area">
                            <a href="/match-details" class="join-btn card-btn btn-yellow">
                                join match
                            </a>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="img-area">
                        <img src="/images/browse-match/card-header.svg" alt="">
                        <div class="console-logo">
                            <img src="/images/browse-match/xbox-console.svg" alt="">
                        </div>
                        <div class="versus-area">
                            <img src="/images/games/Dota.svg" alt="Dota">
                            <span>1v1</span>
                        </div>
                    </div>
                    <div class="txt-area">
                        <div class="user">
                            <div class="img-area">
                                <img src="/images/browse-match/user-placeholder.svg" alt="User">
                            </div>
                            <div class="txt-area">
                                <p class="name">Christa1234</p>
                                <p class="status">Challenger</p>
                            </div>
                        </div>
                        <div class="info">
                            <div class="row">
                                <div class="txt">
                                    <span>Game Mode</span>
                                    <p>1v1 Mid Draft</p>
                                </div>
                                <div class="txt">
                                    <span>Rank Requirements</span>
                                    <p>Legend</p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="txt">
                                    <span>Prize</span>
                                    <p>$2</p>
                                </div>
                            </div>
                        </div>
                        <div class="button-area">
                            <a href="/match-details" class="join-btn card-btn btn-yellow">
                                join match
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="button-area d-none">
                <a href="javascript:;" class="more-btn btn-yellow">load more</a>
            </div>
        </div>
    </section>
    <%- include("./default/components/faq/faq.ejs") %>
    <%- include("./default/components/about/about.ejs") %>
</main>
<%- include("./default/footer.ejs") %>
<script src="/javascripts/jquery-3.5.1.min.js"></script>
<!-- <script src="/javascripts/jquery-3.5.1.min.map"></script> -->
<script src="/javascripts/proschall.js"></script>
</body>

</html>