<%- include("./default/header.ejs") %>
<main class="create-match-page">
    <%- include("./default/createMatchSuccessNotify.ejs") %>
    <section class="breadcrumbs-area">
        <div class="btn-back">
            <a href="/browse-game-matches"> <span>
                    < </span> Back</a>
        </div>
        <div class="breadcrumbs">
            My Dashboard <span> > </span>Create a match
        </div>
    </section>
    <section class="create-match">
        <div class="gamer-dashboard-bg">
            <img src="/images/gamer-dashboard-bg.svg" alt="gamer dashboard background" />
            <div class="layer"></div>
        </div>
        <form name="createMatchForm" id="createMatchForm">
            <h1 class="section-title">create a match</h1>
            <div class="input-fields">
                <div class="input-field">
                    <div class="label-area">
                        <label>Select a game</label>
                    </div>
                    <div class="current"></div>
                    <div id="selectGame" class="list">
                        <div>League of Legends</div>
                        <div>Dota</div>
                        <div>Fifa</div>
                        <div>Fortnite</div>
                    </div>
                </div>
                <div class="input-field">
                    <div class="label-area">
                        <label>Game mode</label>
                    </div>
                    <div class="current"></div>
                    <div id="gameMode" class="list">
                        <div>1v1 Mid Draft Mode</div>
                        <div>1v2 Mid Draft Mode</div>
                        <div class="add-option">
                            <input type="text" class="add-input" value="" />
                            <button class="btn-add btn-yellow">Add</button>
                        </div>
                    </div>
                </div>
                <div class="input-field">
                    <div class="label-area">
                        <label>Prize</label>
                    </div>
                    <div class="current"></div>
                    <div id="prize" class="list">
                        <div>2$</div>
                        <div>5$</div>
                    </div>
                </div>
                <div class="input-field">
                    <div class="label-area">
                        <label>by console</label>
                    </div>
                    <div class="current"></div>
                    <div id="byConsole" class="list">
                        <div>PS4</div>
                        <div>PC</div>
                        <div>X-Box</div>
                    </div>
                </div>
                <div class="input-field">
                    <div class="label-area">
                        <label>Starts at</label>
                        <span class="validation-error-msg">You cannot have multiple matches at the same time</span>
                    </div>
                    <div class="inputs">
                        <input type="text" id="startsTime" class="datepicker-here" data-timepicker="true"
                            data-date-format="MM dd, " data-time-format='h:ii AA' />
                    </div>
                </div>
                <div class="input-field">
                    <div class="label-area">
                        <label>Server</label>
                        <span class="validation-error-msg">This field is required</span>
                    </div>
                    <div class="current"></div>
                    <div id="server" class="list">
                        <div>Singapore</div>
                        <div>Singapore</div>
                    </div>
                </div>
            </div>
            <div class="button">
                <button id="btnCreateMatch" class="btn-yellow">join match</button>
            </div>
        </form>
    </section>
</main>
<script src="/javascripts/jquery-3.5.1.min.js"></script>
<!-- <script src="/javascripts/jquery-3.5.1.min.map"></script> -->
<script src="/javascripts/datepicker.min.js"></script>
<script src="/javascripts/datepicker.en.js"></script>
<script src="/javascripts/proschall.js"></script>
</body>

</html>