<%- include("./default/header.ejs") %>
<main>
  <section class="home-section">
    <div class="txt-area">
      <h1>
        get a chance to win prizes while playing your favorite game?
      </h1>
      <p><span>proschall</span> is the best online system that connects you with other gamers and enables you to create,
        accept, bet on challenges for money and prizes.</p>
      <a href="javascript:;" class="sign-btn btn-yellow" data-tab="signup">sign up now</a>
    </div>
    <div class="img-area">
      <img src="../images/home/section1_intro.svg" />
    </div>
  </section>
  <section class="who-we-are-section">
    <div class="layer"></div>
    <div class="who-we-are">
      <h2 class="title">
        <img src="../images/title-circles.svg" alt="" />
        who we are
      </h2>
      <div class="short-desc">
        Nunc tincidunt fermentum gravida. Sed eget libero mauris. Fusce justo leo, viverra at ligula maximus, ultricies
        ultrices enim.
      </div>
      <div class="who-we-are-area">
        <div class="img-area">
          <img src="../images/home/section2_joistic.svg" alt="joistic">
        </div>
        <div class="txt-area">
          <p class="description">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam semper felis eu lorem posuere elementum.
            Nunc
            eget semper nisl. Vestibulum vestibulum tincidunt ipsum, non pretium eros mollis sed. Nam consequat ipsum
            sit
            amet erat venenatis, et accumsan nisl luctus. Duis ligula massa, laoreet ac fringilla ut, lobortis at nibh.
          </p>
          <div class="buttons-area">
            <div>
              <a href="javascript:;" class="sign-btn btn-yellow" data-tab="signup">sign up now</a>
            </div>
            <div>
              <a href="javascript:;" class="learn-btn">Learn More</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="what-we-do-section">
    <h2 class="title">
      <img src="../images/title-circles.svg" alt="" />
      What we do
    </h2>
    <div class="short-desc">
      Nunc tincidunt fermentum gravida. Sed eget libero mauris. Fusce justo leo, viverra at ligula maximus, ultricies
      ultrices enim.
    </div>
    <div class="what-we-do-area">
      <div class="list">
        <div class="item">
          <div class="img-area">
            <img src="../images/home/join-icon.svg" alt="">
          </div>
          <div class="txt-area">
            <h3>join</h3>
            <p>Nunc tincidunt fermentum gravida. Sed eget libero mauris. Fusce justo leo, viverra at ligula maximus,
              ultricies ultrices enim.</p>
            <a href="javascript:;">learn more <img src="../images/arrow.svg" alt=""></a>
          </div>
        </div>
        <div class="item">
          <div class="img-area">
            <img src="../images/home/play-icon.svg" alt="">
          </div>
          <div class="txt-area">
            <h3>play</h3>
            <p>Nunc tincidunt fermentum gravida. Sed eget libero mauris. Fusce justo leo, viverra at ligula maximus,
              ultricies ultrices enim.</p>
            <a href="javascript:;">learn more <img src="../images/arrow.svg" alt=""></a>
          </div>
        </div>
        <div class="item">
          <div class="img-area">
            <img src="../images/home/win-icon.svg" alt="">
          </div>
          <div class="txt-area">
            <h3>win</h3>
            <p>Nunc tincidunt fermentum gravida. Sed eget libero mauris. Fusce justo leo, viverra at ligula maximus,
              ultricies ultrices enim.</p>
            <a href="javascript:;">learn more <img src="../images/arrow.svg" alt=""></a>
          </div>
        </div>
      </div>
      <div class="buttons-area">
        <a href="javascript:;" class="sign-btn btn-yellow" data-tab="signup">sign up now</a>
      </div>
    </div>
  </section>
  <%- include("./default/components/faq/faq.ejs") %>
  <%- include("./default/components/about/about.ejs") %>
</main>
<%- include("./default/footer.ejs") %>
<script src="/javascripts/jquery-3.5.1.min.js"></script>
<!-- <script src="/javascripts/jquery-3.5.1.min.map"></script> -->
<script src="/javascripts/proschall.js"></script>
</body>

</html>