<%- include("./default/header.ejs") %>
<main class="profile-page">
    <section class="profile-section">
        <div class="gamer-dashboard-bg">
            <img src="/images/gamer-dashboard-bg.svg" alt="gamer dashboard background" />
            <div class="layer"></div>
        </div>
        <div class="profile">
            <h1 class="section-title">My profile</h1>
            <div class="info-area">
                <div class="img">
                    <a href="personal-detail"><img src="/images/profile/profile-img.svg" alt="Profile image"></a>
                </div>
                <div class="info">
                    <a href="personal-detail" class="bg-dark">
                        <p class="name-area">
                            <span class="name">JohnDoe12345</span>
                            <span class="status"></span>
                        </p>
                        <p class="country">New South Wales, AU</p>
                        <p class="txt-info">
                            Nunc tincidunt fermentum gravida. Sed eget libero mauris. Fusce justo leo, viverra at ligula
                            maximus, ultricies ultrices enim.
                        </p>
                    </a>
                </div>
                <div class="funds bg-dark">
                    <p class="txt">Total Credit Funds</p>
                    <p class="fund">$7.15</p>
                    <div class="buttons-area">
                        <a href="javascript:;" class="btn-yellow add-funds-btn">add funds now</a>
                        <a href="javascript:;" class="claim-funds-btn">Claim funds now</a>
                    </div>
                </div>
            </div>
            <div class="history-list">
                <div class="item bg-dark">
                    <p class="txt">Your Total Matches</p>
                    <p class="count">30</p>
                </div>
                <div class="item bg-dark">
                    <p class="txt">Your Won Matches</p>
                    <p class="count">15</p>
                </div>
                <div class="item bg-dark">
                    <p class="txt">Your Lost Matches</p>
                    <p class="count">15</p>
                </div>
            </div>
            <div class="game-handle bg-dark">
                <div class="txt-area">
                    <p>My Game Handles</p>
                    <a href="javascritp:;">Update Game Handles <svg width="6.17" height="6.17" viewBox="0 0 14 14"
                            fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" clip-rule="evenodd"
                                d="M12.1375 5.41103L7.90066 1.17227C7.25336 0.524673 6.14912 0.578952 5.43492 1.29347C4.72072 2.00799 4.66647 3.11272 5.31377 3.76031L8.26667 6.71453L5.3001 9.68244C4.65273 10.3301 4.70752 11.4355 5.42075 12.149C6.13474 12.8633 7.23961 12.9181 7.88698 12.2705L11.9479 8.20776C12.0219 8.15193 12.0931 8.09013 12.1608 8.02239C12.2443 7.93893 12.3187 7.85013 12.384 7.75735C12.5574 7.53875 12.6631 7.28116 12.7025 7.01008C12.8021 6.48203 12.6647 5.93847 12.282 5.55555L12.1557 5.42924C12.1527 5.42619 12.1497 5.42314 12.1466 5.4201C12.1436 5.41706 12.1406 5.41404 12.1375 5.41103Z">
                            </path>
                        </svg></a>
                </div>
                <div class="games-list">
                    <div class="item">
                        <div class="outer">
                            <div class="img-area">
                                <svg width="29" height="27" viewBox="0 0 18 18" fill="none"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <path
                                        d="M18 0H15.7661L14.8359 0.465082L13.9057 0H9.52734L8.47266 0.527344H5.55757L4.50288 0H0V8.47266L0.527344 9.52734V12.4424L0 13.4971V18H9L9.9302 17.5349L10.8604 18H18V10.8604L17.5349 9.9302L18 9V0ZM4.74609 14.8359L3.16406 13.2539V10.0898L7.91016 14.8359H4.74609ZM14.3086 14.8359H12.1992L10.8322 13.2295L10.5503 12.0845L9.46512 11.6231L9 11.0765L3.16406 4.21875L4.21875 3.16406L9 6.75791L14.8359 11.1445L14.3086 14.8359ZM14.8359 7.91016L10.0898 3.16406H13.2539L14.8359 4.74609V7.91016Z">
                                    </path>
                                </svg>
                            </div>
                            <div class="name">
                                Dota 2
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="outer">
                            <div class="img-area">
                                <svg width="27" height="29" viewBox="0 0 17 18" fill="none"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <path
                                        d="M2.42966 0C2.35444 0 2.28072 0.021156 2.21673 0.0610974C2.15275 0.101039 2.10105 0.158187 2.06741 0.22614C2.03377 0.294092 2.01953 0.370163 2.02629 0.44583C2.03304 0.521496 2.06052 0.593767 2.10565 0.654545L3.23968 2.18127V15.8187L1.70064 17.3455C1.65551 17.4062 1.62803 17.4785 1.62128 17.5542C1.61452 17.6298 1.62876 17.7059 1.6624 17.7739C1.69604 17.8418 1.74774 17.899 1.81172 17.9389C1.87571 17.9788 1.94943 18 2.02465 18H13.7699C13.8931 18 14.0093 17.9435 14.0863 17.8466L16.1113 15.8011C16.1587 15.7409 16.1883 15.6683 16.1968 15.5919C16.2052 15.5154 16.1922 15.4381 16.1592 15.3687C16.1262 15.2993 16.0746 15.2408 16.0102 15.1997C15.9457 15.1586 15.8712 15.1367 15.795 15.1364H7.28978V0.409091C7.28978 0.300593 7.24711 0.196539 7.17115 0.11982C7.0952 0.0431005 6.99219 0 6.88477 0H2.42966ZM8.0998 1.63636V2.45455C12.1195 2.45455 15.39 5.75795 15.39 9.81818C15.39 11.5135 14.8145 13.0721 13.8578 14.3182H14.8578C15.734 12.9843 16.2009 11.4189 16.2 9.81818C16.2 5.30673 12.5662 1.63636 8.0998 1.63636ZM8.0998 3.27273V14.3182H12.7939C13.8979 13.1441 14.58 11.5617 14.58 9.81818C14.58 6.20918 11.6728 3.27273 8.0998 3.27273ZM2.42966 3.98455C1.02995 5.373 0.123938 7.2675 0.0117502 9.37309C-0.00876879 9.76034 -0.0024081 10.1486 0.0307856 10.5349C0.202915 12.5313 1.09029 14.3231 2.42966 15.6518V14.4356C1.38085 13.13 0.808811 11.4995 0.80962 9.81818C0.808811 8.13683 1.38085 6.50641 2.42966 5.20077V3.98455ZM2.42966 6.65632C1.89772 7.6235 1.61892 8.71178 1.61964 9.81818C1.61964 10.9645 1.91489 12.042 2.42966 12.98V6.65591V6.65632Z">
                                    </path>
                                </svg>
                            </div>
                            <div class="name">
                                League Of Legends
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="outer">
                            <div class="img-area">
                                <svg width="55.76" height="18.3" viewBox="0 0 35 12" fill="none"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd" clip-rule="evenodd"
                                        d="M0 -1.33119e-05V11.176H3.52998V7.14068H5.98273L6.93625 4.69789H3.52998V2.43019H7.6759L8.58015 -1.33119e-05H0Z">
                                    </path>
                                    <path fill-rule="evenodd" clip-rule="evenodd"
                                        d="M9.65931 0.00465588L9.65302 11.1807H13.1421V0.00465588H9.65931Z"></path>
                                    <path fill-rule="evenodd" clip-rule="evenodd"
                                        d="M26.8345 7.53023L28.1785 2.87688L29.5708 7.53023H26.8345ZM30.0468 0.00476768H26.424L22.407 11.1818H25.7792L26.2133 9.67893H30.1443L30.5988 11.1818H34.0742L30.0468 0.00476768Z">
                                    </path>
                                    <path fill-rule="evenodd" clip-rule="evenodd"
                                        d="M15.5515 0.00465588V11.1807H19.0794V7.14535H21.5295L22.4899 4.70256H19.0794V2.43486H23.2269L24.138 0.00465588H15.5515Z">
                                    </path>
                                </svg>
                            </div>
                            <div class="name">
                                FIFA World Cup
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="outer">
                            <div class="img-area">
                                <svg width="63.82" height="18" viewBox="0 0 39 11" fill="none"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <path
                                        d="M0 5.5C0 8.52562 0.00740038 11 0.0172676 11C0.0320683 11 2.04251 10.6234 2.28918 10.5735L2.41746 10.5485V8.52812V6.5102H3.18216H3.94687V6.14104C3.94687 5.939 3.95427 5.4127 3.96414 4.96871L3.97894 4.16553H3.19943H2.41746V3.28005V2.39456H3.31784C3.81366 2.39456 4.21822 2.38957 4.21822 2.38209C4.21822 2.35465 4.41556 0.224489 4.4279 0.117233L4.4427 -1.63913e-07H2.22011H0V5.5Z">
                                    </path>
                                    <path
                                        d="M36.8981 0.321775L34.9296 0.4864V5.45511V10.4238L35.011 10.4363C35.0826 10.4488 38.8937 10.7281 38.9702 10.7256C38.9924 10.7256 38.9998 10.4612 38.9998 9.49094V8.25624H38.1611H37.3224V7.35828V6.46032H38.0378H38.7531V5.38776V4.3152H38.0131H37.2731V3.60432V2.89343L37.3298 2.88345C37.3594 2.87597 37.611 2.86599 37.8898 2.85602C38.1685 2.84853 38.5311 2.83606 38.6989 2.82608L38.9998 2.81112V1.48164V0.149666L38.9332 0.15216C38.8937 0.154655 37.9786 0.229484 36.8981 0.321775Z">
                                    </path>
                                    <path
                                        d="M24.2609 0.665862C24.2856 0.915295 24.5668 4.67425 24.5619 4.67924C24.5594 4.68423 24.1968 3.78378 23.7552 2.67879C23.3161 1.5738 22.9461 0.658379 22.9363 0.640919C22.9215 0.613482 22.2406 0.740692 21.1232 0.980148L21.0171 1.0026V5.29035V9.57811H22.1148H23.2125L23.2002 9.39851C23.1755 9.06427 23.0843 6.30056 23.0941 6.1908C23.1015 6.09353 23.1755 6.26314 23.8761 7.97425C24.3004 9.01439 24.6605 9.87493 24.6704 9.8899C24.6852 9.90486 25.0281 9.88241 25.6103 9.83253C26.116 9.78763 26.5304 9.74772 26.5304 9.74523C26.5328 9.74273 26.5205 7.94432 26.5032 5.74931C26.486 3.5543 26.4712 1.48151 26.4712 1.13978L26.4687 0.523685H25.3587H24.2461L24.2609 0.665862Z">
                                    </path>
                                    <path
                                        d="M6.89478 0.675984C5.41964 0.775757 4.60807 1.79594 4.35152 3.86623C4.29972 4.29526 4.27751 5.75195 4.31452 6.26079C4.43786 7.91204 4.87941 8.9846 5.66385 9.53086C6.08567 9.8227 6.71964 9.97984 7.34621 9.94243C8.05911 9.90252 8.54507 9.69798 8.98169 9.25648C9.33937 8.89481 9.53425 8.55558 9.72173 7.97689C9.98321 7.16873 10.1016 5.96147 10.0424 4.70433C9.97581 3.29753 9.76613 2.42202 9.33444 1.75104C8.92249 1.11249 8.27125 0.730859 7.51148 0.683467C7.39061 0.675984 7.26233 0.668501 7.2278 0.663513C7.19326 0.661018 7.04526 0.666007 6.89478 0.675984ZM7.2426 2.63653C7.42268 2.83358 7.49915 3.6193 7.49915 5.30047C7.49915 7.37077 7.37087 8.23131 7.08966 8.04673C6.96879 7.96442 6.87752 7.56283 6.83311 6.89685C6.80104 6.41045 6.80104 4.18301 6.83311 3.71657C6.87998 3.05807 6.96385 2.6939 7.08966 2.6066C7.15873 2.55671 7.17106 2.5592 7.2426 2.63653Z">
                                    </path>
                                    <path
                                        d="M10.3607 5.21069V9.75286H11.493H12.6228L12.6376 9.43608C12.6474 9.25898 12.6672 8.68529 12.682 8.15649C12.6968 7.62769 12.7165 7.16375 12.7264 7.12633C12.7387 7.07395 12.8448 7.41069 13.1704 8.5481C13.4072 9.36874 13.607 10.0497 13.6169 10.0597C13.6366 10.0821 15.9505 9.89753 15.9751 9.87259C15.9825 9.86261 15.726 9.04697 15.4053 8.05422L14.8231 6.25332L14.9465 6.14356C15.356 5.78189 15.6939 5.08347 15.7901 4.39254C15.8321 4.09073 15.8049 3.34243 15.7408 3.06556C15.4941 1.98053 14.8404 1.13744 14.0066 0.823156C13.644 0.688462 13.6736 0.690957 11.9592 0.680979L10.3607 0.671002V5.21069ZM12.904 2.82112C13.0791 2.90842 13.2222 3.13291 13.2987 3.4422C13.3505 3.64923 13.3431 4.30524 13.2863 4.51477C13.1803 4.90887 12.9928 5.13835 12.7116 5.22565L12.6548 5.24062V3.99345V2.74379L12.7362 2.76125C12.7782 2.76873 12.8546 2.79617 12.904 2.82112Z">
                                    </path>
                                    <path
                                        d="M15.8616 1.85827V3.01813H16.4907H17.1197V6.36054V9.70294H18.3038H19.4878V6.56008V3.41723H20.1292H20.7706V2.25736V1.0975L20.7163 1.08752C20.6645 1.07505 15.9603 0.695912 15.8937 0.698407C15.869 0.698407 15.8616 0.94784 15.8616 1.85827Z">
                                    </path>
                                    <path
                                        d="M26.9869 5.47505V10.0023H28.208H29.4291V5.47505V0.947837H28.208H26.9869V5.47505Z">
                                    </path>
                                    <path
                                        d="M32.2162 1.26212C30.8792 1.33445 29.7667 1.39432 29.7445 1.39432C29.7025 1.39681 29.7001 1.46915 29.7001 2.56915V3.74148H30.3291H30.9581V7.02153V10.3016H32.1545H33.3509V6.88434V3.46711H34.017H34.683V2.29477C34.683 1.64874 34.6756 1.12493 34.6657 1.12493C34.6534 1.12743 33.5532 1.18729 32.2162 1.26212Z">
                                    </path>
                                </svg>
                            </div>
                            <div class="name">
                                Fortnite
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="as-button">
                <a href="/account-security" class="btn-yellow acc-sec-btn">account security</a>
            </div>
        </div>
    </section>
</main>
<script src="/javascripts/jquery-3.5.1.min.js"></script>
<!-- <script src="/javascripts/jquery-3.5.1.min.map"></script> -->
<script src="/javascripts/proschall.js"></script>
</body>

</html>