<%- include("./default/header.ejs") %>
<main class="tournament-page">
    <section class="breadcrumbs-area">
        <div class="breadcrumbs">
            home <span> &gt; </span>tournaments
        </div>
    </section>
    <section class="tournament-area">
        <h1 class="sec-title">find a tournament</h1>
        <div class="search-area">
            <form id="tournamentSearchForm" class="tournament-search-form">
                <label class="label">search tournaments</label>
                <div class="tournament-search">
                    <input type="text" name="tournamentSearch" id="tournamentSearch">
                    <button id="btnTournamentSearch">
                        <img src="/images/loupe_black.svg" alt="loupe">
                    </button>
                </div>
            </form>
            <div class="quick-filter-area">
                <p class="label">quick filters</p>
                <div class="quick-filter">
                    <div class="list">
                        <div class="item" data-filter='xbox'>
                            <img src="/images/xbox-logo.svg" alt="XBOX">
                            <span>xbox one</span>
                        </div>
                        <div class="item" data-filter='playstation'>
                            <img src="/images/ps-logo.svg" alt="PS">
                            <span>playstation 4</span>
                        </div>
                        <div class="item" data-filter='pc'>
                            <img src="/images/pc-logo.svg" alt="PC">
                            <span>PC</span>
                        </div>
                        <div class="item" data-filter='cross-platform'>
                            <img src="/images/cross-platform-logo.svg" alt="Cross Platform">
                            <span>cross-platform</span>
                        </div>
                    </div>
                    <div class="list">
                        <div class="item" data-filter='past'>
                            past
                        </div>
                        <div class="item" data-filter='running'>
                            running
                        </div>
                        <div class="item" data-filter='upcoming'>
                            upcoming
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="tournaments-list">
            <div class="item" data-console='xbox' data-name='aaa'>
                <div class="v-desk">
                    <a href="javascript:;" class="layer"></a>
                    <div class="img-area">
                        <img src="/images/call_of_duty_warzone.svg" alt="">
                    </div>
                    <div class="txt-area">
                        <div class="col info-col">
                            <p class="t-title">elimination race [ps4]</p>
                            <p class="game-name">call of duty: warzone</p>
                            <p class="start-date">starts today at 6:00 pm EDT</p>
                        </div>
                        <div class="col join-col">
                            <p class="d-none">
                                <img src="/images/chacked-icon.svg" alt=""> joined
                            </p>
                        </div>
                        <div class="col reg-col">
                            <span>registered</span>
                            <span>22/128</span>
                        </div>
                        <div class="col entery-col">
                            <div class="title-area">
                                <p class="entery-title">entery fee</p>
                                <p class="entery-sub">per player</p>
                            </div>
                            <p class="entery-count">5</p>
                            <p class="entery-free d-none">free entery</p>
                        </div>
                        <div class="col prize-col">
                            <span>prize pool</span>
                            <span>$500</span>
                        </div>
                        <div class="col detail-col">
                            <span>></span>
                        </div>
                    </div>
                </div>
                <div class="v-mobile">
                    <div class="img-area">
                        <img src="/images/call_of_duty_warzone.svg" alt="">
                    </div>
                    <div class="txt-area">
                        <p class="game-name">fortnite fall skirmish</p>
                        <div class="bottom-area">
                            <div class="txt-info">
                                <p>total prize pool: 800$</p>
                                <p>participants: 7/28</p>
                                <p>starts NOV 28 at 7:00 EST</p>
                            </div>
                            <div class="entery">
                                <a href="javascript:;">entery fee : 5</a>
                                <a href="javascript:;" class="owned"><img src="/images/chacked-icon.svg" alt=""> participate</a>
                            </div>
                        </div>
                    </div>
                    <div class="type-area">
                        <p>XBOX One</p>
                    </div>
                </div>
            </div>
            <div class="item" data-console='xbox' data-name='aaa'>
                <div class="v-desk">
                    <a href="javascript:;" class="layer"></a>
                    <div class="img-area">
                        <img src="/images/fortnite.svg" alt="">
                    </div>
                    <div class="txt-area">
                        <div class="col info-col">
                            <p class="t-title">elimination race [ps4]</p>
                            <p class="game-name">call of duty: warzone</p>
                            <p class="start-date">starts today at 6:00 pm EDT</p>
                        </div>
                        <div class="col join-col">
                            <p class="">
                                <img src="/images/chacked-icon.svg" alt=""> joined
                            </p>
                        </div>
                        <div class="col reg-col">
                            <span>registered</span>
                            <span>22/128</span>
                        </div>
                        <div class="col entery-col">
                            <div class="title-area">
                                <p class="entery-title">entery fee</p>
                                <p class="entery-sub">per player</p>
                            </div>
                            <p class="entery-count">5</p>
                            <p class="entery-free d-none">free entery</p>
                        </div>
                        <div class="col prize-col">
                            <span>prize pool</span>
                            <span>$500</span>
                        </div>
                        <div class="col detail-col">
                            <span>></span>
                        </div>
                    </div>
                </div>
                <div class="v-mobile">
                    <div class="img-area">
                        <img src="/images/fortnite.svg" alt="">
                    </div>
                    <div class="txt-area">
                        <p class="game-name">fortnite fall skirmish</p>
                        <div class="bottom-area">
                            <div class="txt-info">
                                <p>total prize pool: 800$</p>
                                <p>participants: 7/28</p>
                                <p>starts NOV 28 at 7:00 EST</p>
                            </div>
                            <div class="entery">
                                <a href="javascript:;">entery fee : 5</a>
                                <a href="javascript:;" class="owned"><img src="/images/chacked-icon.svg" alt=""> participate</a>
                            </div>
                        </div>
                    </div>
                    <div class="type-area">
                        <p>XBOX One</p>
                    </div>
                </div>
            </div>
            <div class="item" data-console='xbox' data-name='aaa'>
                <div class="v-desk">
                    <a href="javascript:;" class="layer"></a>
                    <div class="img-area">
                        <img src="/images/fifa.svg" alt="">
                    </div>
                    <div class="txt-area">
                        <div class="col info-col">
                            <p class="t-title">elimination race [ps4]</p>
                            <p class="game-name">call of duty: warzone</p>
                            <p class="start-date">starts today at 6:00 pm EDT</p>
                        </div>
                        <div class="col join-col">
                            <p class="d-none">
                                <img src="/images/chacked-icon.svg" alt=""> joined
                            </p>
                        </div>
                        <div class="col reg-col">
                            <span>registered</span>
                            <span>22/128</span>
                        </div>
                        <div class="col entery-col">
                            <div class="title-area">
                                <p class="entery-title">entery fee</p>
                                <p class="entery-sub">per player</p>
                            </div>
                            <p class="entery-count d-none">5</p>
                            <p class="entery-free">free entery</p>
                        </div>
                        <div class="col prize-col">
                            <span>prize pool</span>
                            <span>$500</span>
                        </div>
                        <div class="col detail-col">
                            <span>></span>
                        </div>
                    </div>
                </div>
                <div class="v-mobile">
                    <div class="img-area">
                        <img src="/images/fifa.svg" alt="">
                    </div>
                    <div class="txt-area">
                        <p class="game-name">fortnite fall skirmish</p>
                        <div class="bottom-area">
                            <div class="txt-info">
                                <p>total prize pool: 800$</p>
                                <p>participants: 7/28</p>
                                <p>starts NOV 28 at 7:00 EST</p>
                            </div>
                            <div class="entery">
                                <a href="javascript:;">entery fee : 5</a>
                                <a href="javascript:;" class="owned"><img src="/images/chacked-icon.svg" alt=""> participate</a>
                            </div>
                        </div>
                    </div>
                    <div class="type-area">
                        <p>XBOX One</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>
<%- include("./default/footer.ejs") %>
<script src="/javascripts/jquery-3.5.1.min.js"></script>
<!-- <script src="/javascripts/jquery-3.5.1.min.map"></script> -->
<script src="/javascripts/proschall.js"></script>
</body>

</html>