/* #region Global */

@font-face {
  font-family: "Overlock-Black";
  src: url("./fonts/Overlock-Black.woff2") format("woff2"),
         url("./fonts/Overlock-Black.woff") format("woff");
 }
 @font-face {
  font-family: "Overlock-BlackItalic";
  src: url("./fonts/Overlock-BlackItalic.woff2") format("woff2"),
         url("./fonts/Overlock-BlackItalic.woff") format("woff");
 }
 @font-face {
  font-family: "Overlock-Bold";
  src: url("./fonts/Overlock-Bold.woff2") format("woff2"),
         url("./fonts/Overlock-Bold.woff") format("woff");
 }
 @font-face {
  font-family: "Overlock-BoldItalic";
  src: url("./fonts/Overlock-BoldItalic.woff2") format("woff2"),
         url("./fonts/Overlock-BoldItalic.woff") format("woff");
 }
 @font-face {
  font-family: "Overlock-Italic";
  src: url("./fonts/Overlock-Italic.woff2") format("woff2"),
         url("./fonts/Overlock-Italic.woff") format("woff");
 }
 @font-face {
  font-family: "Overlock-Regular";
  src: url("./fonts/Overlock-Regular.woff2") format("woff2"),
         url("./fonts/Overlock-Regular.woff") format("woff");
 }
*{
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Overlock-Regular";
  color: #FAFAFA;
}
body{
  background: #272727;
  padding-left: 62px;
}
a {
  color: #FAFAFA;
  text-decoration: none;
}

a:hover{
  color: inherit;
  text-decoration: none;
}
li{
  list-style: none;
}
.btn-yellow{
  display: inline-block;
  font-weight: 900;
  color: #272727;
  background: #FFB608;
  border-radius: 5px;
  border: 1px solid #FFB608;
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
}
.btn-yellow:hover{
  background: transparent;
  color: #FFB608;
}
.bg-dark{
  background: #272727;
  mix-blend-mode: normal;
  border-radius: 4px;
}
input{
  background: #455843;
  border-radius: 5px;
  font-weight: 900;
  font-size: 16px;
  line-height: 20px;
  color: #C7C7C7;
  border: 0;
  width: 100%;
  outline: none;
}
input::-webkit-input-placeholder{
  color: #C7C7C7;
}
input::-moz-placeholder{
  color: #C7C7C7;
}
input:-ms-input-placeholder{
  color: #C7C7C7;
}
input::-ms-input-placeholder{
  color: #C7C7C7;
}
input::placeholder{
  color: #C7C7C7;
}
main {
  padding-top: 56.8px;
}
.title{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-family: "Overlock-Bold";
  font-size: 40px;
  line-height: 18px;
  text-transform: lowercase;
  color: #FAFAFA;
}
.title img{
  padding-right: 7.6px;
}
.short-desc{
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  color: #FAFAFA;
  max-width: 417px;
  width: 100%;
  margin: 0 auto;
  padding: 0 20px;
}
.sign-btn{
  font-size: 18px;
  line-height: 22px;
  text-transform: lowercase;
  padding: 11.1px 53.78px 11.73px;
  -webkit-transition: background .3s;
  -o-transition: background .3s;
  transition: background .3s;
}
.learn-btn{
  display: inline-block;
  background: transparent;
  border: 1px solid #FFB608;
  border-radius: 5px;
  font-weight: 900;
  font-size: 18px;
  line-height: 22px;
  text-transform: lowercase;
  color: #FFB608;
  padding: 11.1px 59px 11.73px;
}
.learn-btn:hover{  
  -webkit-transition: .3s ease-in-out;  
  -o-transition: .3s ease-in-out;  
  transition: .3s ease-in-out;
  border: 1px solid #FAFAFA;
  color: #FAFAFA;
}
.d-none{
  display: none!important;
}
.breadcrumbs-area {
  background: #30372F;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px 16px 16px 18px;
  color: #C7C7C7;
  font-size: 14px;
}
.breadcrumbs-area a{
  display: flex;
  align-items: center;
}
.breadcrumbs-area a{
  transition: .3s;
}
.breadcrumbs-area a:hover{
  color: #FFB608;
}
.breadcrumbs-area a span{
  transition: .3s;
  font-weight: 900;
}
.breadcrumbs-area a:hover span{
  color: #FFB608;
}
.breadcrumbs-area .breadcrumbs{
  display: flex;
  align-items: center;
}
.breadcrumbs-area span{
  padding: 0 6px;
}
.validation-error-msg{
  font-size: 8px;
  line-height: 10px;
  color: #F71900;
}

/* #endregion */

/* #region popup */
.popup-outer {
  position: fixed;
  background: rgba(69, 88, 67, .9);
  z-index: 9999;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  display: none;
}
.popup-content{
  position: absolute;
  top: 50%;
  left: 50%;
  background-image: url('../images/modal/combined-circle.png'),url('../images/modal/combined-shape.png');
  background-repeat: no-repeat;
  background-position: 100% 100%,0 0;
  background-color: #000;
  width: 100%;
  max-width: 500px;
  height: 90vh;
  border-radius: 4px;
  padding: 20px;
  -webkit-transform: translate(-50%, -50%) scale(0);
      -ms-transform: translate(-50%, -50%) scale(0);
          transform: translate(-50%, -50%) scale(0);
  -webkit-transition: -webkit-transform .3s;
  transition: -webkit-transform .3s;
  -o-transition: transform .3s;
  transition: transform .3s;
  transition: transform .3s, -webkit-transform .3s;
  overflow: hidden;
}
.popup-outer.active .popup-content{
  -webkit-transform: translate(-50%, -50%) scale(1);
      -ms-transform: translate(-50%, -50%) scale(1);
          transform: translate(-50%, -50%) scale(1);
}
.popup-outer .tab-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-bottom: 20px;
}
.popup-outer .tab-header .tab-link {
  display: inline-block;
  padding: 10px 60px;
  margin: 0 10px;
  border: 0;
  border-radius: 5px;
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
}
.popup-outer .tab-header .tab-link:hover,
.popup-outer .tab-header .tab-link.active{
    background: #455843;
    color: #FFB608;
}
.popup-outer .tab-item{
  text-align: center;
  display: none;
  height: calc(90vh - 100px);
  overflow-y: auto;
}
.popup-outer .tab-item.active{
  display: block;
}
.popup-outer .btn-close{
  position: absolute;
  right: 5px;
  top: 5px;
  opacity: .7;
}
.popup-outer .btn-close:hover{
  opacity: 1;
}
.popup-outer .name{
  font-weight: 900;
  font-size: 24px;
  line-height: 29px;
  text-align: center;
  color: #FAFAFA;
  padding: 15px 0;
}
.popup-outer .txt{
  padding: 15px 0;
}
.popup-outer .terms-conditions-area *{
  cursor: pointer;
}
.popup-outer .input-fields{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.popup-outer .input-field{
  width: 75%;
}
.popup-outer input{
  padding: 15px;
  margin-top: 10px;
}
.popup-outer .input-fields .terms-conditions-area{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.popup-outer .input-fields .terms-conditions-area input[type='checkbox']{
  width: 30px;
  margin: 0;
}
.popup-outer .input-fields .terms-conditions-area label{
  white-space: nowrap;
}
.popup-outer .tab-item .buttons{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.popup-outer button{
  cursor: pointer;
  font-size: 18px;
  line-height: 22px;
  text-transform: lowercase;
  padding: 10px 60px;
  margin: 25px 0 15px;
  -webkit-transition: background .3s, color .3s;
  -o-transition: background .3s, color .3s;
  transition: background .3s, color .3s;
}
.popup-outer button:hover{
  background: #455843;
}
.popup-outer .resetPass:hover{
  -webkit-transition: .3s ease-in-out;
  -o-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
  color: #FFB608;
}
/* #endregion */

/* #region Card item */
.cards-list{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 0 52px 38px;
}
.cards-list .card{
  position: relative;
  width: 50%;
  padding: 0 12px;
  margin-bottom: 20px;
  border-radius: 4px;
}
.cards-list .card .img-area{
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.cards-list .card .img-area img{
  width: 100%;
}
.cards-list .card .img-area .console-logo{
  position: absolute;
  top: 11px;
  left: 9px;
}
.cards-list .card .img-area .versus-area{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  right: 40px;
}
.cards-list .card .img-area .versus-area img{
  width: 23px;
}
.cards-list .card .img-area .versus-area span{
  font-weight: bold;
  font-size: 20px;
  line-height: 20px;
  color: #C7C7C7;
  padding-left: 6px;
}
.cards-list .card .txt-area{
  padding: 18px 35px 25px 25px;
  background: #30372F;
  mix-blend-mode: normal;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.cards-list .card .txt-area .user{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  width: 30%;
  -webkit-transform: translateY(-50px);
      -ms-transform: translateY(-50px);
          transform: translateY(-50px);
}
.cards-list .card .txt-area .user .txt-area{
  padding: 0;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.cards-list .card .txt-area .user .img-area{
  border-radius: 50%;
  width: 82px;
  height: 82px;
  overflow: hidden;
  border: 2px solid #686868;
}
.cards-list .card .txt-area .user .img-area img{
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.cards-list .card .txt-area .user .name{
  font-size: 16px;
  line-height: 20px;
  color: #FFB608;
  padding-top: 9px;
}
.cards-list .card .txt-area .user .status{
  font-size: 10px;
  line-height: 12px;
  color: #C7C7C7;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.cards-list .card .txt-area .info .row{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.cards-list .card .txt-area .info .txt{
  padding-bottom: 13px;
}
.cards-list .card .txt-area .info .row .txt:nth-child(1){
  width: 120px;
}
.cards-list .card .txt-area .info .txt span{
  font-weight: bold;
  font-size: 8px;
  line-height: 10px;
  color: #C7C7C7;
}
.cards-list .card .txt-area .info .txt p{
  font-weight: bold;
  font-size: 12px;
  line-height: 15px;
  color: #FAFAFA;
}
.cards-list .card .txt-area .button-area{
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding-top: 17px;
}
.cards-list .card .txt-area .card-btn{
  font-size: 14px;
  line-height: 17px;
  padding: 7px 38.73px 8px;
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
}
/* #endregion */

/* #region Filter */
.filter-arae{
  position: relative;
  z-index: 9;
}
.filter-list{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.filter-item{
  position: relative;
  width: 20%;
}
.filter-item .label{
  width: 100%;
  background: #30372F;
  -webkit-transition: background .3s;
  -o-transition: background .3s;
  transition: background .3s;
}
.filter-item .label:hover,
.filter-item .label.active{
  background: #313F30;
}
.filter-item .label a{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 15px;
  font-size: 14px;
  line-height: 17px;
  color: #C7C7C7;
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
}
.filter-item .label:hover a,
.filter-item .label.active a{
  color: #FFB608;
}
.filter-item .label a span{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.filter-item .label a svg{
  width: 5px;
  height: 5px;
  -webkit-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
          transform: rotate(90deg);
  fill: #C7C7C7;
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
}
.filter-item .label:hover a svg,
.filter-item .label.active a svg{
  fill: #FFB608;
}
.filter-item ul{
  position: absolute;
  left: 0;
  right: 0;
  top: 46.8px;
  display: none;
}
.filter-item li a{
  display: block;
  background: #30372F;
  padding: 10px 15px;
  font-size: 14px;
  line-height: 17px;
  color: #C7C7C7;
  -webkit-transition: background .3s color .3s;
  -o-transition: background .3s color .3s;
  transition: background .3s color .3s;
}
.filter-item li a:hover{
  background: #313F30;
  color: #FFB608;
}
/* #endregion */

/* #region custom datepicker */
.datepicker,
.datepicker--pointer{
  background: #30372F;
  border: 0;
}
.datepicker--cell:hover, .datepicker--nav-title:hover{
  background: #455843;
}
.datepicker--cell.-selected-, .datepicker--cell.-selected-.-current-, .datepicker--cell.-focus-:hover{
  background: #455843;
  color: #FFB608;
}
.datepicker--cell.-current-, .datepicker--day-name{
  color: #FFB608;
}
.datepicker--time-current-hours:after, .datepicker--time-current-minutes:after{
  background: #455843;
}
/* #endregion */

/* #region header */
header{
  position: fixed;
  left: 62px;
  right: 0;
  top: 0;
  z-index: 999;
  padding-right: 40px;
  background: #272727;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 56.8px;
  -webkit-transition: left .3s;
  -o-transition: left .3s;
  transition: left .3s;
}
header.active{
  left: 23.6%;
}
.left-navigation{
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  z-index: 999;
  background: #30372F;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 62px;
  -webkit-transition: width .3s;
  -o-transition: width .3s;
  transition: width .3s;
}
header .layer{
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: #313F30;
  opacity: 0.95;
  z-index: 9;
}
.left-navigation .navigation a{
  display: inline-block;
  margin: 12px 0 13px 14px;
  font-weight: 900;
  font-size: 19px;
  line-height: 23px;
  color: #C7C7C7;
  mix-blend-mode: normal;
}
.left-navigation .navigation a:hover{
  -webkit-transition: .3s ease-in-out;
  -o-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
  color: #FFB608;
}
.left-navigation.open{
  width: 23.6%;
}
.left-navigation .logo-area a{
  display: inline-block;
  padding: 12px 14px;
}
.left-navigation .games-list{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.left-navigation .games-list .item .name{
  display: none;
  font-weight: bold;
  font-size: 14px;
  line-height: 17px;
  color: #C7C7C7;
}
.left-navigation .games-list .item .logo{
  width: 62px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.left-navigation .games-list .item a{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 19.8px 0;
  width: 100%;
  -webkit-transition: background .3s;
  -o-transition: background .3s;
  transition: background .3s;
}
.left-navigation .games-list .item a:hover,
.left-navigation .games-list .item.active a{
  background: #313F30;
}
.left-navigation .games-list .item svg{
  fill: #686868;
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
}
.left-navigation .games-list .item.active svg{
  fill: #FFB608;
}
.left-navigation .games-list .item a:hover .name,
.left-navigation .games-list .item.active .name{
  color: #FFB608;
}
.left-navigation .bottom-logo{
  padding-bottom: 29px;
  padding-left: 14px;
}
.left-navigation.open .bottom-logo{
  display: none;
}
.left-navigation .bottom-info {
  padding: 12px;
}
.left-navigation .bottom-info .create-btn{
  font-weight: 900;
  font-size: 14px;
  line-height: 17px;
  padding: 6.6px 0;
  width: 100%;
  text-align: center;
}
.left-navigation .bottom-info .txt *{
  font-size: 12px;
  line-height: 19px;
  color: #C7C7C7;
}
.left-navigation .bottom-info .txt{
  text-align: center;
}
.left-navigation .bottom-info .txt p{
  padding: 15px 0 3px;
}
.left-navigation .bottom-info .txt span{
  font-weight: 900;
}
header .menu-btn{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 18px;
  height: 13.85px;
  margin-left: 18px;
  cursor: pointer;
  z-index: 99;
}
header .menu-btn a{
  position: relative;
  width: 100%;
  height: 2px;
  background: #C7C7C7;
  -webkit-transition: -webkit-transform .3s;
  transition: -webkit-transform .3s;
  -o-transition: transform .3s;
  transition: transform .3s;
  transition: transform .3s, -webkit-transform .3s;

}
header .menu-btn a::before,
header .menu-btn a::after{
  position: absolute;
  content: "";
  height: 2px;
  background: #C7C7C7;
}
header .menu-btn a::before{
  width: 12px;
  top: 4px;
}
header .menu-btn a::after{
  width: 6px;
  top: 8px;
}
header .menu-btn.active a{
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
}
header .menu-btn.active a::before{
  width: 100%;
  -webkit-transform: rotate(-90deg);
      -ms-transform: rotate(-90deg);
          transform: rotate(-90deg);
  top: 0;
}
header .menu-btn.active a::after{
  width: 0;
}
header .buttons-area{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
header .buttons-area a{
  color: #C7C7C7;
}
header .buttons-area .login-btn a{
  display: inline-block;
  font-size: 12px;
  line-height: 15px;
}
header .buttons-area .login-btn a:hover{
  -webkit-transition: .3s ease-in-out;
  -o-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
  color: #FFB608;
}
header .buttons-area .reg-btn a{
  display: inline-block;
  font-weight: 900;
  font-size: 14px;
  line-height: 17px;
  border: 1px solid #C7C7C7;
  border-radius: 5px;
  padding: 6px 14px 9px 16px;
  -webkit-transition: background .3s;
  -o-transition: background .3s;
  transition: background .3s;
  margin: 14px 18px 9px 18px;
}
header .buttons-area .reg-btn a:hover{
  border: 1px solid #FFB608;
  background: #FFB608;
  color: #272727;
}
header .buttons-area .create-match-area {
  padding: 0 15px;
}
header .buttons-area .create-btn{
  font-weight: 900;
  font-size: 14px;
  line-height: 17px;
  color: #272727;
  padding: 6.6px 20.6px;
}
header .buttons-area .create-btn:hover{
  color: #FFB608;
}
header .buttons-area .user-info-area{
  position: relative;
  padding-left: 15px;
}
header .buttons-area .user-info-area .username-btn{
  display: inline-block;
  line-height: 15px;
  color: #C7C7C7;
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
}
header .buttons-area .user-info-area .username-btn:hover,
header .buttons-area .user-info-area .username-btn.active{
  color: #FFB608;
}
header .buttons-area .user-info-area .user-info {
  position: absolute;
  top: 37px;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 300px;
  background: #30372F;
  padding: 10px 0;
  display: none;
}
header .buttons-area .triangle {
  position: absolute;
  background: #30372F;
  width: 30px;
  height: 30px;
  border-radius: 4px;
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
  top: 25px;
  right: 30%;
  display: none;
}
header .buttons-area .user-info .nav-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px 20px;
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
}
header .buttons-area .user-info .nav-item:hover{
  background: #313F30;
}
header .buttons-area .user-info .nav-item:hover svg{
  fill: #FFB608;
}
header .buttons-area .user-info .nav-item:hover .nav-left .txt-area{
  color: #FFB608;
}
header .buttons-area .user-info .nav-item .user,
header .buttons-area .user-info .nav-item .nav-left{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
header .buttons-area .user-info .nav-item .user .img-area{
  width: 62px;
  height: 62px;
  border: 1px solid #FAFAFA;
  border-radius: 50%;
  overflow: hidden;
}
header .buttons-area .user-info .nav-item .user .img-area img{
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
header .buttons-area .user-info .nav-item .user .txt-area{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-left: 10px;
}
header .buttons-area .user-info .nav-item .user .welcome-txt{
  font-weight: bold;
  line-height: 20px;
  text-transform: lowercase;
  color: #FAFAFA;
  padding-bottom: 4px;
}
header .buttons-area .user-info .nav-item .user .amount-txt{
  font-weight: bold;
  font-size: 12px;
  line-height: 15px;
  text-transform: lowercase;
}
header .buttons-area .user-info .nav-item .user .amount-txt .amount{
  color: #FFB608;
  font-size: 16px;
}
header .buttons-area .user-info .nav-left .txt-area{
  font-weight: 900;
  line-height: 20px;
  color: #C7C7C7;
  padding-left: 18px;
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
} 
header .buttons-area .notification-area{
  position: relative;
}
header .buttons-area .notification-area .notification-count{
  position: absolute;
  top: -5px;
  right: -7px;
  font-weight: 900;
  font-size: 10px;
  line-height: 12px;
  background: #F75A00;
  color: #FAFAFA;
  padding: 2px 5.33px;
  border-radius: 50%;
}
header .buttons-area .notification-area svg{
  fill: #C7C7C7;
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
}
header .buttons-area .notification-area .notification-btn:hover svg,
header .buttons-area .notification-area .notification-btn.active svg{
  fill: #FFB608;
}
header .user-info .item svg{
  fill: #C7C7C7;
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
}
header .buttons-area .notification-area .notifications {
  position: absolute;
  top: 40px;
  background: #30372F;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 400px;
  display: none;
}
header .buttons-area .notification-area .n-list .item{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 20px;
  border: 1.5px solid #3B3B3B;
  cursor: pointer;
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
}
header .buttons-area .notification-area .n-list .item:hover,
header .buttons-area .notification-area .n-list .item.active{
  background: #313F30;
}
header .buttons-area .notification-area .n-list .txt-area{
  width: 91%;
}
header .buttons-area .notification-area .n-list .txt-area p{
  font-size: 14px;
  line-height: 17px;
  color: #FAFAFA;
  padding-bottom: 4px;
  white-space: nowrap;
  overflow: hidden;
  -o-text-overflow: ellipsis;
     text-overflow: ellipsis;
}
header .buttons-area .notification-area .n-list .txt-area .user{
  color: #FFB608;
}
header .buttons-area .notification-area .n-list .txt-area .time{
  font-size: 10px;
  line-height: 12px;
  color: #686868;
  font-family: "Overlock-Italic";
}
header .buttons-area .notification-area .status{
  display: block;
  width: 7px;
  height: 7px;
  border-radius: 50%;
}
header .buttons-area .notification-area .status.online{
  background-color: #00D902;
}
header .buttons-area .notification-area .status.offline{
  background: #F75A00;
}
header .buttons-area .notification-area .triangle{
    top: 33px;
    right: -30%;
}
header .buttons-area .notification-area .n-list .item .notification {
  position: absolute;
  top: 0;
  right: 100%;
  width: 400px;
  padding: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
          background: #30372F;
          cursor: initial;
          display: none;
}
header .buttons-area .notification-area .header-txt {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
header .buttons-area .notification-area .header-txt .from-txt,
header .buttons-area .notification-area .n-content p {
  font-size: 14px;
  line-height: 17px;
  color: #FAFAFA;
}
header .buttons-area .notification-area .n-content {
  padding: 20px 0 30px;
}
header .buttons-area .notification-area .n-content .user{
  color: #FFB608;
}
header .buttons-area .notification-area .n-content .time{
  font-size: 10px;
  line-height: 12px;
  color: #686868;
  font-family: "Overlock-Italic";
  padding-top: 6px;
}
header .buttons-area .notification-area .header-txt .date{
  font-size: 10px;
  line-height: 12px;
  color: #C7C7C7;
}
header .buttons-area .notification-area .buttons-area{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
header .buttons-area .notification-area .buttons-area .notify-btn{
  color: #272727;
  font-size: 14px;
  line-height: 17px;
  padding: 6.6px 84px;
  margin-bottom: 30px;
}
header .buttons-area .notification-area .buttons-area .notify-btn:hover{
  color: #FFB608;
}
header .buttons-area .notification-area .buttons-area .cancel-btn{
  font-size: 14px;
  line-height: 17px;
  color: #C7C7C7;
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
}
header .buttons-area .notification-area .buttons-area .cancel-btn:hover{
  color: #FFB608;
}
header .lng-area {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 40px;
  background: #272727;
  padding: 8px;
}
header .lng-area .other{
  display: none;
}
/* #endregion */

/* #region home */
.home-section{
  height: 100vh;
  background: -o-linear-gradient(bottom, rgba(69, 88, 67, 0.66), rgba(69, 88, 67, 0.66)), url('/images/home/section1.svg');
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(69, 88, 67, 0.66)), to(rgba(69, 88, 67, 0.66))), url('/images/home/section1.svg');
  background: linear-gradient(0deg, rgba(69, 88, 67, 0.66), rgba(69, 88, 67, 0.66)), url('/images/home/section1.svg');
  background-size: cover;
  background-repeat: no-repeat; 
  background-position: center;
  background-blend-mode: multiply, normal;
  mix-blend-mode: normal;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.home-section .txt-area, .home-section .img-area{
  width: 50%;
}
.home-section .txt-area{
  padding: 0 15% 0 61px;
}
.home-section .txt-area h1{
  font-weight: 900;
  font-size: 40px;
  line-height: 43px;
  text-transform: lowercase;
  color: #FAFAFA;
  margin-bottom: 22px;
}
.home-section .txt-area p{
  font-size: 16px;
  line-height: 20px;
  color: #FAFAFA;
  margin-bottom: 33px;
}
.home-section .txt-area p span{
  font-weight: 900;
}
.home-section .img-area{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding: 0 55px 0 7.4%;
}
.home-section .img-area img{
  width: 100%;
}
.who-we-are-section{
  position: relative;
  background: -o-linear-gradient(bottom, #455843, #455843), -o-linear-gradient(bottom, rgba(39, 39, 39, 0.6), rgba(39, 39, 39, 0.6)), url('/images/home/section_who_we_are.svg');
  background: -webkit-gradient(linear, left bottom, left top, from(#455843), to(#455843)), -webkit-gradient(linear, left bottom, left top, from(rgba(39, 39, 39, 0.6)), to(rgba(39, 39, 39, 0.6))), url('/images/home/section_who_we_are.svg');
  background: linear-gradient(0deg, #455843, #455843), linear-gradient(0deg, rgba(39, 39, 39, 0.6), rgba(39, 39, 39, 0.6)), url('/images/home/section_who_we_are.svg');
  background-blend-mode: color, normal, normal;
  background-size: cover;
  background-repeat: no-repeat; 
  background-position: center;
}
.who-we-are-section .layer{
  position: absolute;
  background: -o-linear-gradient(right, rgba(39, 39, 39, 0) 0%, #272727 47.06%, #272727 100%);
  background: -webkit-gradient(linear, right top, left top, from(rgba(39, 39, 39, 0)), color-stop(47.06%, #272727), to(#272727));
  background: linear-gradient(to left, rgba(39, 39, 39, 0) 0%, #272727 47.06%, #272727 100%);
  left: 0;
  top: 0;
  bottom: 0;
  width: 50%;
}
.who-we-are-section .who-we-are{
  position: relative;
  z-index: 1;
}
.who-we-are-section .title{
  padding-top: 63px;
  padding-bottom: 43px;
}
.who-we-are-section .who-we-are-area{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 65.5px 0 151.5px;
}
.who-we-are-section .who-we-are-area .img-area,
.who-we-are-section .who-we-are-area .txt-area {
  width: 50%;
}
.who-we-are-section .who-we-are-area .img-area{
  padding-left: 15%;
}
.who-we-are-section .who-we-are-area .txt-area {
  padding-right: 10%;
}
.who-we-are-section .who-we-are-area .txt-area .description{
  max-width: 430px;
  width: 100%;
  padding: 0 20px 0 21px;
}
.who-we-are-section .who-we-are-area .txt-area .buttons-area{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-top: 21px;
  padding-left: 20px;
}
.who-we-are-section .who-we-are-area .txt-area .buttons-area .sign-btn{
  margin-bottom: 16px;
}
.what-we-do-section .title{
  padding: 73px 0 32px;
}
.what-we-do-area .list{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 45px 64px 52px;
}
.what-we-do-area .list .item{
  max-width: calc(33.33% - 22px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background: #30372F;
  border-radius: 3px;
  padding: 38px 27px 34px;
  text-align: center;
}
.what-we-do-area .list .item h3{
  font-weight: 900;
  font-size: 30px;
  line-height: 49px;
  text-transform: lowercase;
  color: #FFB608;
  padding-top: 13.67px;
  padding-bottom: 4px;
}
.what-we-do-area .list .item p{
  font-size: 12px;
  line-height: 15px;
  color: #FAFAFA;
  padding-bottom: 19px;
}
.what-we-do-area .list .item a{
  display: inline-block;
  font-weight: 900;
  font-size: 14px;
  line-height: 17px;
  text-transform: lowercase;
  color: #FFB608;
}
.what-we-do-area .list .item a img{
  padding-left: 2.55px;
}
.what-we-do-area .buttons-area{
  text-align: center;
  margin: 0 auto;  
  width: calc(33.33% - 66px);
  padding-bottom: 115px;
}
.what-we-do-area .buttons-area .sign-btn{
  display: block;
}
.questions-section{
  position: relative;
  background: -o-linear-gradient(bottom, #455843, #455843), url('/images/home/section-questions.svg');
  background: -webkit-gradient(linear, left bottom, left top, from(#455843), to(#455843)), url('/images/home/section-questions.svg');
  background: linear-gradient(0deg, #455843, #455843), url('/images/home/section-questions.svg');
  background-blend-mode: color, normal;
  background-size: cover;
  background-repeat: no-repeat; 
  background-position: center;
}
.questions-section .title{
  padding-top: 91px;
  padding-bottom: 35px;
}
.questions-section .short-desc{
  padding-bottom: 67px;
}
.questions-section .questions-list{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 0 18% 77px;
}
.questions-section .questions-list .item{
  background: #455843;
  mix-blend-mode: normal;
  border-radius: 5px;
  margin-bottom: 9px;
  padding: 0 22px 0 31px;
}
.questions-section .questions-list .item .question{
  font-weight: 900;
  font-size: 22px;
  line-height: 27px;
  text-transform: lowercase;
  color: #FAFAFA;
}
.questions-section .questions-list .item.active .question{
  color: #FFB608;
}
.questions-section .questions-list .item .tab-header a{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 25px 0;
}
.questions-section .questions-list .item .tab-header .plus-btn{
  position: relative;
  background: #FFB608;
  width: 15px;
  height: 5.77px;
  border-radius: 10px;
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
}
.questions-section .questions-list .item .tab-header .plus-btn::before{
  position: absolute;
  content: "";
  width: 15px;
  height: 5.77px;
  background: #FFB608;
  -webkit-transform: rotate(90deg) translateY(0.5px);
      -ms-transform: rotate(90deg) translateY(0.5px);
          transform: rotate(90deg) translateY(0.5px);
  border-radius: 10px;
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
}
.questions-section .questions-list .item.active .tab-header .plus-btn{
  background: #F75A00;
}
.questions-section .questions-list .item.active .tab-header .plus-btn::before{  
  background: #F75A00;
  -webkit-transform: rotate(0deg) translateY(0);
      -ms-transform: rotate(0deg) translateY(0);
          transform: rotate(0deg) translateY(0);
}
.questions-section .questions-list .item .tab-content{
  display: none;
}
.questions-section .questions-list .item .tab-content p{
  font-size: 14px;
  line-height: 17px;
  text-transform: lowercase;
  color: #FAFAFA;
  padding-top: 3px;
  padding-bottom: 41px;
}
.questions-section .questions-area{
  position: relative;
  z-index: 1;
}
.questions-section .layer{
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  background: -o-linear-gradient(top, rgba(39, 39, 39, 0) -16%, #272727 88.51%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(-16%, rgba(39, 39, 39, 0)), color-stop(88.51%, #272727));
  background: linear-gradient(to bottom, rgba(39, 39, 39, 0) -16%, #272727 88.51%);
}
.about-section{
  position: relative;
  background: -o-linear-gradient(bottom, #FFB608, #FFB608), -o-linear-gradient(bottom, rgba(39, 39, 39, 0.6), rgba(39, 39, 39, 0.6)), url('/images/home/section-about.svg');
  background: -webkit-gradient(linear, left bottom, left top, from(#FFB608), to(#FFB608)), -webkit-gradient(linear, left bottom, left top, from(rgba(39, 39, 39, 0.6)), to(rgba(39, 39, 39, 0.6))), url('/images/home/section-about.svg');
  background: linear-gradient(0deg, #FFB608, #FFB608), linear-gradient(0deg, rgba(39, 39, 39, 0.6), rgba(39, 39, 39, 0.6)), url('/images/home/section-about.svg');
  background-blend-mode: color, normal, normal;
  background-size: cover;
  background-repeat: no-repeat; 
  background-position: center;
}
.about-section .title{
  padding-top: 200px;
  padding-bottom: 35px;
}
.about-section .short-desc{
  padding-bottom: 24px;
}
.about-section .about-txt{
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  text-transform: lowercase;
  color: #FAFAFA;
  max-width: 358px;
  width: 100%;
  margin: 0 auto;
  padding: 0 20px 165px 20px;
}
.about-section .about-area{
  position: relative;
  z-index: 1;
}
.about-section .layer{
  position: absolute;
  left: 0; 
  right: 0;
}
.about-section .layer.top{
  top: 0;
  background: -o-linear-gradient(bottom, rgba(39, 39, 39, 0) 0%, #272727 88.51%);
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(39, 39, 39, 0)), color-stop(88.51%, #272727));
  background: linear-gradient(to top, rgba(39, 39, 39, 0) 0%, #272727 88.51%);
  bottom: 50%;
}
.about-section .layer.bottom{
  bottom: 0;
  background: -o-linear-gradient(top, rgba(39, 39, 39, 0) 0%, #272727 88.51%);
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(39, 39, 39, 0)), color-stop(88.51%, #272727));
  background: linear-gradient(to bottom, rgba(39, 39, 39, 0) 0%, #272727 88.51%);
  top: 65%;
}

/* #endregion */

/* #region browse match */
.gamer-dashboard-bg {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 100vh;
  z-index: -1;
}
.gamer-dashboard-bg img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: 50% 20%;
}
.gamer-dashboard-bg .layer{
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 75%;
  background: rgb(39,39,39);
  background: linear-gradient(180deg, rgba(39,39,39,0) 0%, rgba(39,39,39,1) 100%);
}
.browse-match-page {
  position: relative;
}
.browse-match-section{
  padding-bottom: 102px;
}
.browse-match-section .header-img img{
  width: 100%;
}
.browse-match-section .section-title{
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  text-transform: lowercase;
  color: #FAFAFA;
  padding: 21px 62px;
}

.browse-match-section .cards-list-area>.button-area{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
}
.browse-match-section .cards-list-area .more-btn{
  font-size: 18px;
  line-height: 22px;
  text-transform: lowercase;
  padding: 11.1px 93.7px 11.73px;
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
}
.browse-match-section.is-logged .cards-list-area{
  padding-top: 37px;
}
/* #endregion */

/* #region match detail */
.match-detail-page .match-detail{
  padding-top: 26px;
}
.match-detail-page .match-detail .cards-list{
  align-items: center;
  flex-direction: column;
}
.match-detail-page .match-detail .card{
  padding: 0;
  width: calc(100% - 40px);
  max-width: 416px;
  margin: 0 auto 7px;
}
.match-detail-page .match-detail .card .match-id-area{
  text-align: right;
  font-size: 10px;
  line-height: 12px;
  text-align: right;
  color: #FAFAFA;
  transform: translateX(18px);
}
.match-detail-page .match-detail .card .match-id-area .match-id{
  padding-bottom: 6px;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.match-detail-page .match-detail .card .match-id-area .match-id span{
  font-weight: 900;
}
.match-detail-page .match-detail .card .match-id-area .remaining-time{
  padding-bottom: 17px;
}
.match-detail-page .match-detail .card .match-id-area .remaining-time span{
  color: #F75A00;
}
.match-detail-page .match-detail .match-rules-area{
  background: #30372F;
  mix-blend-mode: normal;
  border-radius: 4px;
  padding: 25px 33px;
  width: calc(100% - 40px);
  max-width: 416px;
  margin:0 auto 7px;
}
.match-detail-page .match-detail .section-title{
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  text-transform: lowercase;
  color: #FAFAFA;
  padding-bottom: 15px;
}
.match-detail-page .match-detail .match-rules-area .txt span{
  display: inline-block;
  font-size: 12px;
  line-height: 15px;
  color: #FAFAFA;
  padding-bottom: 15px;
}
.match-detail-page .match-detail .button-area{
  background: #30372F;
  mix-blend-mode: normal;
  border-radius: 4px;
  width: calc(100% - 40px);
  max-width: 416px;
  margin:0 auto;
  padding: 23px 33px;
}
.match-detail-page .match-detail .button-area .button a{
  display: block;
  text-align: center;
  padding: 5.4px 0;
}
.match-detail-page .match-detail .button-area .txt{
  display: flex;
  flex-direction: column;
}
.match-detail-page .match-detail .button-area .txt .start-time{
  font-size: 12px;
  line-height: 15px;
  color: #FAFAFA;
  padding-bottom: 8px;
}
.match-detail-page .match-detail .button-area .txt .remaining-time{
  font-size: 12px;
  line-height: 15px;
  color: #FAFAFA;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  padding-bottom: 26px;
}
.match-detail-page .match-detail .button-area .txt .remaining-time span{
  color: #F75A00;
}
.match-detail-page .match-detail .button-area .button{
  padding: 0 45px;
}
/* #endregion */

/* #region my chellenges */
.my-chellenges-page .my-chellenges-section .section-title{
  padding: 26px 0 26px 53px;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  text-transform: lowercase;
  color: #FAFAFA;
}
.my-chellenges-page .my-chellenges-section .card .game-status{
  font-size: 10px;
  line-height: 12px;
  color: #272727;
  padding: 6px 4.4px;
  border-radius: 2px;
  position: absolute;
  top: 9px;
  right: 10px;
}
.my-chellenges-page .my-chellenges-section .card .game-status.green{
  background: #00D902;
}
/* #endregion */

/* #region create match */
.create-match-page .create-match{
  padding: 27px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.create-match-page form{
  padding: 33px 66px 44px;
  background: #272727;
  mix-blend-mode: normal;
  box-shadow: 0px 0px 13px rgba(0, 0, 0, 0.35);
  border-radius: 4px;
  width: calc(100% - 40px);
  max-width: 416px;
  margin:0 auto;
}
.create-match-page form .section-title{
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  text-transform: lowercase;
  color: #FAFAFA;
  text-align: center;
  padding-bottom: 27px;
}
.create-match-page form .input-fields{
  display: flex;
  flex-direction: column;
}
.create-match-page form .input-field{
  position: relative;
  display: flex;
  flex-direction: column;
  padding-bottom: 14px;
} 
.create-match-page form .input-field .label-area{
  display: flex;
  justify-content: space-between;
}
.create-match-page form .input-field .label-area label{
  font-size: 8px;
  line-height: 10px;
  padding-left: 13px;
  padding-bottom: 5px;
  color: #C7C7C7;
}
.create-match-page form .input-field .current{
  border: 0;
  background: #313F30;
  border-radius: 4px;
  padding: 12.5px 13px;
  height: 42px;
  background-image: url('/images/select_arrows.svg');
  background-repeat: no-repeat;
  background-position: 98% 50%;
  cursor: pointer;
}
.create-match-page form .input-field .list{
  position: absolute;
  left: 0;
  top: 56px;
  right: 0;
  z-index: 8;
  display: none;
}
.create-match-page form .input-field .list div{
  border: 0;
  background: #313F30;
  padding: 10px 13px;
  cursor: pointer;
  transition: .3s;
}
.create-match-page form .input-field .list div:hover,
.create-match-page form .input-field .list div.selected{
  background: #354734;
  color: #FFB608;
}
.create-match-page form .input-field .inputs {
  display: flex;
  justify-content: space-between;
}
.create-match-page form .input-field .inputs input{
  padding: 12.5px 13px;
  background: #313F30;
  border: 0;
  font-size: 14px;
  line-height: 17px;
  color: #C7C7C7;
  width: 100%;
}
.create-match-page form .input-field .add-option{
  display: flex;
  justify-content: space-between;
}
.create-match-page form .input-field .add-option input{
  padding: 5px 10px;
  background: #313F30;
  border: 0;
  font-size: 14px;
  line-height: 17px;
  color: #C7C7C7;
  width: 70%;
  border: 1px solid #C7C7C7;
}
.create-match-page form .input-field .add-option button{
  width: 28%;
  padding: 5px 13px;
  font-size: 14px;
  cursor: pointer;
}
.create-match-page form .button{
  text-align: center;
  padding-top: 10px;
}
.create-match-page form .button button{
  text-align: center;
  width: 49%;
  padding: 7px 0;
  cursor: pointer;
}
#createMatchSuccessNotify {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 999;
  background: rgba(69, 88, 67, .9);
  display: none;
}
#createMatchSuccessNotify .popup-container {
  background: linear-gradient(0deg, rgba(216, 216, 216, 0.1), rgba(216, 216, 216, 0.1)), #151515;
  border-radius: 4px;
  width: 98%;
  max-width: 346px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 6.5% 5%;
  text-align: center;
  height: 400px;
  max-height: 90vh;
  overflow-y: auto; 
}
#createMatchSuccessNotify .popup-container .img-area{
  padding-bottom: 20px;
}
/* #endregion */

/* #region history */
.history-page .history-section .section-title{
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  text-transform: lowercase;
  color: #FAFAFA;
  padding: 26px 53px;
}
.history-page .history-section .card .game-status{
  position: absolute;
  top: 8px;
  right: 9px;
  font-weight: bold;
  font-size: 10px;
  line-height: 12px;
  text-align: right;
  color: #272727;
  border-radius: 2px;
  padding: 3px 7px 5px 7px;
}
.history-page .history-section .card .game-status.won{
  background: #00D902;
}
.history-page .history-section .card .game-status.lost{
  background: #C7C7C7;
}
/* #endregion */

/* #region history detail */
.match-detail-page.history .match-detail .card .match-id-area .remaining-time span{
  color: #00D902;
}
.match-detail-page.history .match-detail .button-area .txt .msg{
  font-size: 12px;
  line-height: 15px;
  color: #FAFAFA;
  padding-bottom: 15px;
}
.match-detail-page.history .match-detail .button-area .buttons{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.match-detail-page.history .match-detail .button-area .buttons a{
  display: inline-block;
  width: 75%;
  text-align: center;
  padding: 5.4px 0;
}
.match-detail-page.history .match-detail .button-area .buttons .lost-btn,
.match-detail-page.history .match-detail .button-area .buttons .dispute-btn{
  margin-top: 11px;
  border: 1px solid #FFB608;
  border-radius: 5px;
  color: #FFB608;
  transition: .3s;
}
.match-detail-page.history .match-detail .button-area .buttons .lost-btn:hover,
.match-detail-page.history .match-detail .button-area .buttons .dispute-btn:hover{
  border: 1px solid #FAFAFA;
  color: #FAFAFA;
}
#disputePopup {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 999;
  background: rgba(69, 88, 67, .9);
  display: none;
}
#disputePopup .popup-container {
  background: linear-gradient(0deg, rgba(216, 216, 216, 0.1), rgba(216, 216, 216, 0.1)), #151515;
  border-radius: 4px;
  width: 98%;
  max-width: 346px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 44px 52px 60px;
  text-align: center;
  height: 550px;
  max-height: 90vh;
  overflow-y: auto; 
}
#disputePopup .popup-container .section-title{
  font-weight: 900;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: #C7C7C7;
  padding-bottom: 21px;
}
#disputePopup .popup-container .txt{
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  color: #C7C7C7;
  padding-bottom: 35px;
}
#disputePopup form .input-fields{
  display: flex;
  flex-direction: column;
}
#disputePopup form .input-field{
  position: relative;
  display: flex;
  flex-direction: column;
  padding-bottom: 14px;
} 
#disputePopup form .input-field .label-area{
  display: flex;
  justify-content: space-between;
}
#disputePopup form .input-field .label-area label{
  font-size: 8px;
  line-height: 10px;
  padding-left: 13px;
  padding-bottom: 5px;
  color: #C7C7C7;
}
#disputePopup form .input-field .current{
  border: 0;
  background: #313F30;
  border-radius: 4px;
  padding: 12.5px 13px;
  height: 42px;
  background-image: url('/images/select_arrows.svg');
  background-repeat: no-repeat;
  background-position: 98% 50%;
  cursor: pointer;
}
#disputePopup form .input-field .list{
  position: absolute;
  left: 0;
  top: 56px;
  right: 0;
  z-index: 8;
  display: none;
}
#disputePopup form .input-field .list div{
  border: 0;
  background: #313F30;
  padding: 10px 13px;
  cursor: pointer;
  transition: .3s;
}
#disputePopup form .input-field .list div:hover,
#disputePopup form .input-field .list div.selected{
  background: #354734;
  color: #FFB608;
}
#disputePopup form .input-field .message textarea{
  width: 100%;
  height: 113px;
  padding: 8px 12px;
  background: #313F30;
  border: 0;
  border-radius: 4px;
}
#disputePopup form .input-field .message textarea::placeholder{
  font-size: 14px;
  line-height: 17px;
  color: #C7C7C7;
}
#disputePopup form .input-field .attach-file {
  position: relative;
  padding-bottom: 54px;
}
#disputePopup form .input-field .attach-file label{
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  cursor: pointer;
  padding: 12px;
  background: #313F30;
  border-radius: 4px;
  text-align: left;
}
#disputePopup form .input-field .attach-file #disputeFile {
  opacity: 0;
  position: absolute;
  z-index: -1;
  left: 0;
  right: 0;
  top: 0;
}
#disputePopup form #btnDisputeSubmit{
  display: block;
  padding: 5.4px 0;
  width: 100%;
  text-align: center;
  cursor: pointer;
}
/* #endregion */

/* #region profile */
.profile-page .profile-section{
  padding: 20px 35px;
}
.profile-page .profile-section .section-title{
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  text-transform: lowercase;
  color: #FAFAFA;
  padding: 8px 0 25px 6px;
}
.profile .info-area{
  display: flex;
  padding-bottom: 18px;
}
.profile .img{
  width: 163px;
  height: 163px;
}
.profile .img img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.profile-section .profile .info-area .info{
  display: flex;
  padding: 0 25px;
  width: calc(100% - 395px);
}
.profile-section .profile .info-area .info a{
  padding: 30px;
  display: block;
  width: 100%;
}
.profile-section .profile .info-area .info .name-area{
  display: flex;
  align-items: center;
}
.profile-section .profile .info-area .info .name{
  font-weight: bold;
  font-size: 22px;
  line-height: 27px;
  color: #FAFAFA;
}
.profile-section .profile .info-area .info .name-area .status{
  display: inline-block;
  background: #00D902;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  margin-left: 8px;
}
.profile-section .profile .info-area .country{
  font-weight: bold;
  font-size: 12px;
  line-height: 15px;
  color: #C7C7C7;
  padding: 3px 0 22px;
}
.profile-section .profile .info-area .txt-info{
  font-size: 12px;
  line-height: 15px;
  color: #FAFAFA;
}
.profile .funds{
  padding: 21px 31px 27px;
  width: 232px;
}
.profile .funds .txt{
  font-size: 10px;
  line-height: 12px;
  text-align: center;
  color: #C7C7C7;
  padding-bottom: 3px;
}
.profile .funds .fund{
  font-weight: 900;
  font-size: 30px;
  line-height: 30px;
  text-align: center;
  color: #F75A00;
  padding-bottom: 14px;
}
.profile .funds .buttons-area{
  display: flex;
  flex-direction: column;
}
.profile .funds .add-funds-btn{
  font-weight: 900;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  color: #272727;
  display: block;
  text-align: center;
  padding: 6.6px 0;
  margin-bottom: 9px;
}
.profile .funds .add-funds-btn:hover{
  color: #FFB608;
}
.profile .funds .claim-funds-btn{
  font-weight: bold;
  font-size: 12px;
  line-height: 15px;
  text-align: center;
  text-transform: lowercase;
  color: #FFB608;
  transition: .3s;
}
.profile .funds .claim-funds-btn:hover{
  color: #C7C7C7;
}
.profile-section .profile .history-list{
  display: flex;
  justify-content: space-between;
  padding-bottom: 18px;
}
.profile-section .profile .history-list .item{
  width: 32%;
  text-align: center;
  padding: 23px 0 32px;
}
.profile-section .profile .history-list .item .txt{
  font-size: 10px;
  line-height: 12px;
  color: #C7C7C7;
  padding-bottom: 6px;
}
.profile-section .profile .history-list .item .count{
  font-weight: 900;
  font-size: 38px;
  line-height: 30px;
  color: #FFB608;
}
.profile-section .profile .game-handle{
  padding: 23px 16px 12px;
}
.profile-section .profile .game-handle .txt-area{
  display: flex;
  justify-content: space-between;
  padding: 0 8px 15px;
}
.profile-section .profile .game-handle .txt-area p{
  font-size: 10px;
  line-height: 12px;
  color: #C7C7C7;
}
.profile-section .profile .game-handle .txt-area a{
  display: flex;
  align-items: center;
  color: #C7C7C7;
  font-size: 10px;
  line-height: 12px;
  transition: .3s;
}
.profile-section .profile .game-handle .txt-area a svg{
  fill: #C7C7C7;
  margin-left: 3.4px;
  transition: .3s;
}
.profile-section .profile .game-handle .txt-area a:hover {
  color: #FFB608;
}
.profile-section .profile .game-handle .txt-area a:hover svg{
  fill: #FFB608;
}
.profile-section .profile .game-handle .games-list{
  display: flex;
}
.profile-section .profile .game-handle .games-list .item{
  padding: 0 8px; 
  max-width: 25%;
  display: flex;
  flex: 0 0 25%;
}
.profile-section .profile .game-handle .games-list .item .outer{
  padding: 17px 0;
  mix-blend-mode: normal;
  border: 1px solid #686868;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}
.profile-section .profile .game-handle .games-list .item .img-area svg{
  fill: #C7C7C7;
}
.profile-section .profile .game-handle .games-list .item .name{
  font-weight: bold;
  font-size: 14px;
  line-height: 17px;
  color: #C7C7C7;
  padding-top: 14px;
}
.profile-section .profile .as-button{
  display: flex;
  justify-content: center;
  padding: 30px 0;
}
.profile-section .profile .as-button .acc-sec-btn{
  font-weight: 900;
  font-size: 14px;
  line-height: 17px;  
  color: #272727;
  padding: 6.6px 6%;
  text-align: center;
  white-space: nowrap;
}
.profile-section .profile .as-button .acc-sec-btn:hover{
  color: #FFB608;
}
/* #endregion */

/* #region account security */
.account-security-page .account-security-section{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px 20px;
}
.account-security-page .account-security-section .section-title{
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  color: #FAFAFA;
  padding-bottom: 20px;
}
.account-security-section #accountSecurityForm{
  padding: 36px 48px;
  width: 100%;
  max-width: 465px;
  margin: 0 auto;
  background: #272727;
  mix-blend-mode: normal;
  box-shadow: 0px 0px 13px rgba(0, 0, 0, 0.35);
  border-radius: 4px;
}
.account-security-section #accountSecurityForm label{
  font-size: 8px;
  line-height: 10px;
  color: #C7C7C7;
  padding-left: 12px;
  padding-bottom: 5px;
}
.account-security-section #accountSecurityForm .input-field{
  padding-bottom: 14px;
}
.account-security-section #accountSecurityForm input{
  font-size: 14px;
  line-height: 17px;
  color: #C7C7C7;
  padding: 12px;
}
.account-security-section #accountSecurityForm .button{
  text-align: center;
  padding-top: 20px;
}
.account-security-section #accountSecurityForm button{
  cursor: pointer;
  font-weight: 900;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  color: #272727;
  padding: 6.6px 0;
  width: 80%;
}
.account-security-section #accountSecurityForm button:hover{
  color: #FFB608;
}
/* #endregion */

/* #region personal detail */
.personal-detail-page .personal-detail-section{
  padding: 40px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.personal-detail-section .profile .funds{
  margin-left: 20px;
}
.personal-detail-section .personal-detail{
  width: 100%;
}
.personal-detail-section #personalDetailForm{
  margin-top: 20px;
  padding: 36px 48px;
  background: #272727;
  mix-blend-mode: normal;
  box-shadow: 0px 0px 13px rgba(0, 0, 0, 0.35);
  border-radius: 4px;
  width: calc(100% - 40px);
  max-width: 416px;
  margin: 0 auto;
}
.personal-detail-section #personalDetailForm .section-title{
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  color: #FAFAFA;
  padding-bottom: 20px;
}
.personal-detail-section #personalDetailForm .input-field{
  position: relative;
  padding-bottom: 16px;
}
.personal-detail-section .input-field .label-area{
  display: flex;
  justify-content: space-between;
}
.personal-detail-section .input-field .label-area label{
  font-size: 8px;
  line-height: 10px;
  padding-left: 13px;
  padding-bottom: 5px;
  color: #C7C7C7;
}
.personal-detail-section .input-field input,
.personal-detail-section .input-field textarea{
  font-size: 14px;
  line-height: 17px;
  color: #C7C7C7;
  padding: 12px;
  background: #313F30;
  border-radius: 4px;
}
.personal-detail-section .input-field textarea{
  width: 100%;
  min-height: 93px;
}
.personal-detail-section .input-field .current {
  border: 0;
  background: #313F30;
  border-radius: 4px;
  padding: 12.5px 13px;
  height: 42px;
  background-image: url(/images/select_arrows.svg);
  background-repeat: no-repeat;
  background-position: 98% 50%;
  cursor: pointer;
}
.personal-detail-section .input-field .list {
  position: absolute;
  left: 0;
  top: 56px;
  right: 0;
  z-index: 8;
  display: none;
}
.personal-detail-section .input-field .list div {
  border: 0;
  background: #313F30;
  padding: 10px 13px;
  cursor: pointer;
  transition: .3s;
}
.personal-detail-section .input-field .list div:hover, .personal-detail-section .input-field .list div.selected {
  background: #354734;
  color: #FFB608;
}
.personal-detail-section #personalDetailForm .button {
  text-align: center;
  padding-top: 20px;
}
.personal-detail-section #personalDetailForm button {
  cursor: pointer;
  font-weight: 900;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  color: #272727;
  padding: 6.6px 0;
  width: 80%;
}
.personal-detail-section #personalDetailForm button:hover {
  color: #FFB608;
}
/* #endregion */

/* #region footer */
footer{
  padding: 45px 0 20px 42px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
footer .footer-navigation-area{
  width: 100%;
}
footer .footer-logo{
  padding-right: 70px;
}
footer .footer-navigation{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-bottom: 40px;
}
footer .footer-navigation .list{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-right: 31px;
}
footer .footer-navigation .name{
  font-weight: 900;
  font-size: 19px;
  line-height: 23px;
  color: #FAFAFA;
  mix-blend-mode: normal;
  opacity: 0.3;
  padding-bottom: 9px;
}
footer .footer-navigation .item{
  display: inline-block;
  font-weight: bold;
  font-size: 12px;
  line-height: 15px;
  text-transform: lowercase;
  color: #FAFAFA;
  mix-blend-mode: normal;
  opacity: 0.3;
  margin-bottom: 7px;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
}
footer .footer-navigation .item:hover{
  -webkit-transition: .3s ease-in-out;
  -o-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
  color: #FFB608;
  opacity: 1;
}
footer .sponsors-area{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 17px 0 23px;
  border-top: 1px solid #979797;
  border-bottom: 1px solid #979797;
}
footer .sponsors-area .sponsors{
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
footer .sponsors-area .sponsors .name{
  font-weight: 900;
  font-size: 19px;
  line-height: 23px;
  color: #FAFAFA;
  mix-blend-mode: normal;
  opacity: 0.3;
  padding-bottom: 6px;
}
footer .sponsors-area .sponsors .list a{
  display: inline-block;
  margin: 0 8px;
  opacity: .3;
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
}
footer .sponsors-area .sponsors .list a:hover{
  opacity: 1;
  -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
          transform: scale(1.1);
}
footer .sponsors-area .sponsors .list img{
  max-height: 22px;
}
footer .bottom-area{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 17px 22px 0 0;
}
footer .bottom-area *{
  font-weight: bold;
  font-size: 12px;
  line-height: 15px;
  text-transform: lowercase;
  color: rgba(250, 250, 250, .3);
  mix-blend-mode: normal;
}
footer .bottom-area a{
  opacity: 1;
  display: inline-block;
}
footer .bottom-area a:hover{
  -webkit-transition: .3s ease-in-out;
  -o-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
  color: #FFB608;
}
footer .bottom-area .btn-terms{
  margin-right: 16px;
}
/* #endregion */