<section class="questions-section">
    <div class="questions-area">
        <h2 class="title">
            <img src="../images/title-circles.svg" alt="" />
            frequently asked questions
        </h2>
        <div class="short-desc">
            Nunc tincidunt fermentum gravida. Sed eget libero mauris. Fusce justo leo, viverra at ligula maximus,
            ultricies
            ultrices enim.
        </div>
        <div class="questions-list">
            <div class="item">
                <div class="tab-header">
                    <a href="javascript:;"><span class="question">how much does it cost to play?</span><span
                            class="plus-btn"></span>
                    </a>
                </div>
                <div class="tab-content">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed Lorem ipsum dolor sit amet,
                        consectetur
                        adipiscing elit. Pellentesque ut orci sed est viverra tempus et ut ex. Nam elementum convallis
                        dolor, a
                        blandit quam. eu purus non porttitor.</p>
                </div>
            </div>
            <div class="item">
                <div class="tab-header">
                    <a href="javascript:;"><span class="question">how do I claim my funds?</span><span
                            class="plus-btn"></span>
                    </a>
                </div>
                <div class="tab-content">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed Lorem ipsum dolor sit amet,
                        consectetur
                        adipiscing elit. Pellentesque ut orci sed est viverra tempus et ut ex. Nam elementum convallis
                        dolor, a
                        blandit quam. eu purus non porttitor.</p>
                </div>
            </div>
            <div class="item">
                <div class="tab-header">
                    <a href="javascript:;"><span class="question">what happens if I disagree with a match
                            result?</span><span class="plus-btn"></span>
                    </a>
                </div>
                <div class="tab-content">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed Lorem ipsum dolor sit amet,
                        consectetur
                        adipiscing elit. Pellentesque ut orci sed est viverra tempus et ut ex. Nam elementum convallis
                        dolor, a
                        blandit quam. eu purus non porttitor.</p>
                </div>
            </div>
            <div class="item">
                <div class="tab-header">
                    <a href="javascript:;"><span class="question">I’m a newbie: how do I arrange a match?</span><span
                            class="plus-btn"></span>
                    </a>
                </div>
                <div class="tab-content">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed Lorem ipsum dolor sit amet,
                        consectetur
                        adipiscing elit. Pellentesque ut orci sed est viverra tempus et ut ex. Nam elementum convallis
                        dolor, a
                        blandit quam. eu purus non porttitor.</p>
                </div>
            </div>
            <div class="item">
                <div class="tab-header">
                    <a href="javascript:;"><span class="question">will I always be matched with players at the same
                            level as
                            me?</span><span class="plus-btn"></span>
                    </a>
                </div>
                <div class="tab-content">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed Lorem ipsum dolor sit amet,
                        consectetur
                        adipiscing elit. Pellentesque ut orci sed est viverra tempus et ut ex. Nam elementum convallis
                        dolor, a
                        blandit quam. eu purus non porttitor.</p>
                </div>
            </div>
            <div class="item">
                <div class="tab-header">
                    <a href="javascript:;"><span class="question">where can I purchase play vouchers?</span><span
                            class="plus-btn"></span>
                    </a>
                </div>
                <div class="tab-content">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed Lorem ipsum dolor sit amet,
                        consectetur
                        adipiscing elit. Pellentesque ut orci sed est viverra tempus et ut ex. Nam elementum convallis
                        dolor, a
                        blandit quam. eu purus non porttitor.</p>
                </div>
            </div>
        </div>
    </div>

    <div class="layer"></div>
</section>