<section class="about-section">
    <div class="layer top"></div>
    <div class="about-area">
        <h2 class="title">
            <img src="../images/title-circles.svg" alt="" />
            about proschall
        </h2>
        <div class="short-desc">
            Nunc tincidunt fermentum gravida. Sed eget libero mauris. Fusce justo leo, viverra at ligula maximus,
            ultricies
            ultrices enim.
        </div>
        <div class="about-txt">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. In in dapibus sem, id luctus eros. Vestibulum
            ornare
            odio
            at sapien ultrices rutrum. Nulla viverra nibh id elit sodales molestie. Vestibulum luctus metus vel felis
            tincidunt, quis ultrices nulla viverra. Vestibulum tristique nibh vitae porttitor scelerisque.
            <br><br>
            Phasellus semper mauris sit amet sem tristique hendrerit ut nec massa. Ut at volutpat leo. Integer et nisl
            vel
            leo
            porta condimentum accumsan vitae enim.
        </div>
    </div>
    <div class="layer bottom"></div>
</section>